@import '../../style/imports';

.back-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(#fff, 0.8);
  color: $color-gray;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  position: fixed;
  bottom: $tabbar-height + floor($edge-size / 2);
  right: $edge-size;
  z-index: $z-index-tooltip;
  border: 1px solid rgba($color-brand-primary, 0.1);
  box-shadow: 0 0 5px rgba(#000, 0.15);
  box-sizing: border-box;
  transition: all .2s;
  opacity: 0;
  &.is-show {
    opacity: 0.8;
  }
  [class^="icon-"] {
    font-size: 42px;
  }
  &__text {
    font-size: floor(0.7 * $font-size);
  }
}
