@import '../../../style/imports';
.at-curtain__container {
  width: 70% !important;
}
.qrcode-content {
  background: #fff;
  text-align: center;
  padding: 30px;
  &__qrimg {
    width: 440px;
    height: 440px;
  }
  &__copy {
    margin: 50px auto 0;
    color: $color-brand-primary;
    border: 1PX solid $color-brand-primary;
    padding: 20px 0;
    width: 60%;
    border-radius: 53px;
  }

}

