@import '../../style/imports';

.sp-iconmenu {
  $self: &;
  background: transparent;
  text-align: center;
  padding: 0;
  border: none !important;
  &:before, &:after {
    border: none !important;
  }
  &__icon {
    margin: 0 0 28px;
    line-height: 1;
  }
  &__img {
    width: 100px;
    height: 100px;
  }
  &__title {
    line-height: 1;
    display: block;
    text-align: center;
    font-size: $font-size-small;
  }
}