@import "../../../style/imports";

.icon-arrow-left{
  position: absolute;
  left:0;
  width: 87px;
  height: 64px;
  line-height: 64px;
  margin-left: 10px;
  font-size: 52px;
  transform: translate(0,-50%);
  z-index:100
}
.live{
  width: 100vw;
  height: 100vh;
  background: white;
}
.data-view {
  padding-left:23px;
  padding-right: 23px;
  position: absolute;
  top:0;
  left:0;
  z-index:100;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .watcher-detail{
    position: absolute;
    bottom: 0;
    left:0;
    width: 100vw;
    background: white;
    border-radius: 10px 10px 0 0;
    &-title{
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 88px;
      line-height: 88px;
      .change-type-com{
        margin-right: 138px;
      }
      .change-type-com,.change-type-line{
        font-size: 32px;
        color: #A1A1A1;
      }
      .choosed{
        color:black;
        font-weight: bold;
        border-bottom: solid 4px black;
      }
    }
    &-dec{
      height: 45px;
      line-height: 45px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background: #FBFAFA;
      padding: 0 35px;
      color:#A1A1A1;
      font-size: 23px;
    }
    &-list{
      height: 820px;
      .watcher-scroll-list{
        height: 100%;
        .item-list{
        }
      }
    }
  }

  .cart-detail{
    background: white;
    border-radius: 10px;
    width: 100vw;
    position: absolute;
    left:0;
    bottom:0;
    &-title{
      font-size: 20px;
      margin-top: 20px;
      margin-left: 20px;
    }
    .goods-scroll{
      height: 828px;
    }
  }

  .live-detail{
    position: absolute;
    width: 100vw;
    height: 585px;
    left: 0;
    bottom:0;
    background:white ;
    border-radius: 10px 10px 0 0;
    &-avatar{
      width: 135px;
      height: 135px;
      border: solid 4px white;
      border-radius: 50%;
      overflow: hidden;
      position: absolute;
      left:50%;
      top:0;
      transform: translate(-50%,-50%);
    }
    &-dec{
      margin-top: 86px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .user_name{
        font-size: 32px;
        font-weight: bold;
      }
      .user_address{
        margin-top: 25px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 23px;
        color:#A1A1A1;
        .icon-dizhi{
          margin-right: 10px;
        }
      }
      .user_dec{
        font-size: 23px;
        color:#A1A1A1
      }
      .user_dec_more{
        width: 100vw;
        padding:40px 104px 87px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &_item{
          display: flex;
          flex-direction: column;
          align-items: center;
          .dec-data{
            font-size: 31px;
            font-weight: bold;
          }
          .dec-dec{
            font-size: 23px;
            color:#A1A1A1;
          }
        }
      }
    }

    &-footer{
      margin: 0 92px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 30px;
      .dec-attend,.dec-main,.store{
        flex: 1;
        text-align: center;
      }
      .store{
        border-left: solid 2px #A1A1A1;
        border-right: solid 2px #A1A1A1;
      }
    }
  }



  .live-header{
    position: relative;
    left:40px;
    transform: translate(0,-40px);
    &-bottom{
      .contain-bottom{
        height: 40px;
        border-radius: 20px;
        background-color: rgba(0,0,0,0.3);
        display: inline-block;
      }
      .bottom-contain{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 20px;
        color:white;
        .img{
          width: 30px;
          height: 30px;
        }
      }
    }
    &-top{
    }
    .true{
      color:white;
      font-size: 24px;
      height: 40px;
      line-height: 40px;
    }
  }
  .contain-dec{
    height: 80px;
    border-radius: 40px;
    background: rgba(0,0,0,0.3);
    display: inline-block;
  }
    .header-contain{
      display: flex;
      flex-direction: row;
      align-items: center;
      color:white;
      margin: 0 40px 0 4px;
      .room-dec-name{
        line-height: 40px;
        font-size: 30px;
      }
      .room-dec-more{
        line-height: 40px;
        font-size: 20px;
      }
    }
  .attend{
    margin-left: 8px;
    height: 50px;
    padding: 0 25px;
    background: $color-theme;
    line-height: 50px;
    border-radius: 25px;
  }
    .avatar{
      width: 76px;
      height: 76px;
      border-radius: 50%;
      overflow: hidden;
      .img{
        width: 100%;
        height: 100%;
      }
    }

  .live-footer-container{
   margin-bottom: 70px;
  }
  .live-footer{
    position: relative;
    height:465px;
    &-user{
      display: inline-block;
      line-height: 44px;
      height: 44px;
      border-radius: 22px;
      overflow: hidden;
      position: absolute;
      top:0;
      .container{
        padding: 0 15px;
        background: #ec5942;
        border-radius: 22px;
        opacity: 0.38;
        height: 100%;
        display: flex;
        flex-direction: row;
        .iconfont{
          font-size: 30px;
        }
        .iconfont,.buy-dec{
          visibility: hidden;
        }
      }
      .content{
        padding: 0 15px;
        height: 100%;
        position: absolute;
        display: flex;
        flex-direction: row;
        left:0;
        top:0;
        font-size: 27px;
        color:white;
        .iconfont{
          font-size: 30px;
          margin-right: 10px;
        }
      }
    }
    &-feature{
      display: flex;
      flex-direction: row;
      align-items: center;
      .more{
        display: flex;
        flex:1;
        flex-direction: row;
        justify-content: space-between;
        &-item{
          width: 72px;
          height: 72px;
          border-radius: 36px;
          position: relative;
          .container{
            width: 72px;
            height: 72px;
            border-radius: 36px;
            background: rgba(0,0,0,0.3);
          }
          .iconfont{
            position: absolute;
            left:50%;
            top:50%;
            transform: translate(-50%,-50%);
            font-size:45px ;
            color:white
          }
          .icon-gouwucheman{
            color: #a3780a;
          }
          .icon-xinaixin{
            color: #e75252;
          }
        }
      }
      .opc{
        position: relative;
        .send-message{
          width: 360px;
          padding: 0 35px;
          border-radius: 35px;
          height: 70px;
          background: #000000;
          opacity: 0.3;
          overflow: hidden;
          margin-right: 8px;
        }
        .holder{
          color: white;
        }
        .input{
          opacity: 1;
          font-size: 30px;
          border: none;
          background-color: transparent;
          position: absolute;
          left:0;
          top:0;
          color: white;
        }
      }
    }
     &-message{
      position: relative;
       top:50px;
       display: flex;
       flex-direction: column;
     }
    .message{
      max-width: 690px;
      border-radius: 20px;
      display: inline-block;
      background: rgba(0,0,0,0.3);
      margin-bottom:6px ;
    }
    .msg-last{
      margin-bottom: 17px;
    }
    .true{
      line-height: 45px;
      padding: 0 20px;
      font-size: 27px;
      display: inline-block;
      .user_name{
        color:#EC5942;
        margin-right: 15px;
      }
      .user_message{
        color:white
      }
    }
  }
}
.test{
  height: 40px;
  border-radius: 20px;
  background: rgba(0,0,0,0.3);
  display: inline-block;
  padding: 0 15px;
  line-height: 40px;
}
.inner{
  color:red
}
.out-line{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  &-dec{
    height: 80px;
    line-height: 80px;
    padding: 0 60px;
    background: $color-theme;
    color: white;
    border-radius: 40px;
  }
}
