@import "../../../style/imports";

.auth-reg {
  height: 100vh;
  padding-top: 92px;
  position: relative;
  box-sizing: border-box;
  background: $color-brand-primary-text;
  &__form {
    padding: $edge-size;
    margin: 0 0 $edge-margin;
  }
  .accountAgreement{
    width: 100%;
    text-align: center;
    &__text {
      color: $color-brand-primary;
    }
  }
  .picker {
    padding: 16px 0;
    margin: 0 0 $edge-size;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1PX solid rgba($color-brand-primary, 0.2);
    &__title {
      font-size: $font-size;
      margin-right:16px;
      width:172px;
    }
    .pick-value {
      color: #333;
    }
    span.pick-value-null {
      color: #ccc;
    }
    text.pick-value-null {
      color: #808080;
    }
  }

  .input-phone {
    .at-input__input {
      visibility: hidden;
    }
  }
  .submit-btn {
    background: $color-brand-primary;
    border-color: $color-brand-primary;
  }
}
.pay-rule-style {
  padding: 30px;
}

.checkBoxPanel {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #ffffff;
  height: 600px;
  overflow: scroll;
  z-index: $z-index-modal;
  &-content {
    padding: 40px;
  }
  &-item {
    height: 50px;
    line-height: 50px;
  }
  .panel-btns {
    box-shadow: 0 2px 2px 2px #808080;
    .panel-btn {
      height: 80px;
      line-height: 80px;
      display: inline-block;
      text-align: center;
      width: 50%;
    }
    .require-btn {
      background: $color-price;
      color: #ffffff;
    }
  }
}
