@import '../../style/imports';

.price {
  &__primary {
    color: $color-price;
    font-size: 26px;
  }
  &__symbol {
    margin-right: 5px;
    font-size: 20px;
    font-weight: normal;
  }
  &__int {
  }
  &__decimal {
    font-size: 1em;
  }
}
.price-market {
  color: $color-gray;
  margin-left: 8px;
  text-decoration: line-through;
  font-size: 22px;
  .price__symbol {
    margin-right: 5px;
    font-size: 20px;
    font-weight: normal;
  }
}
