@import "../../style/imports";

.coupon-item-index {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  box-sizing: border-box;
  .coupon-item {
    flex: 1;
    min-height:180px;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: $edge-margin;

    &__check {
      width: 32px;
      margin-right:10px;
      overflow: hidden;
    }
    &__unchecked {
      margin-top: 25px;
      display: block;
      width: 32px;
      height: 32px;
      border: 1PX solid $color-brand-primary;
      background: #ffffff;
      box-sizing: border-box;
      border-radius: 50%;
      overflow: hidden;
    }
    &__checked {
      margin-top: 25px;
      color: $color-brand-primary;
    }

    &__name {
      width:210px;
      text-align: center;
      color: #fff;
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      border-radius: 10px 0 0 10px;
      //background:linear-gradient(315deg,rgba(255,77,24,1) 0%,rgba(253,130,30,1) 100%);
    }
    .radius-view {
      position: absolute;
      height: 20px;
      width: 20px;
      background: #f6f6f6;
    }
    .radius-left-top {
      right: 0;
      top: 0;
      border-radius: 0 0 0 20px;
    }
    .radius-left-bottom {
      right: 0;
      bottom: 0;
      border-radius: 20px 0 0 0;
    }
    .radius-right-top {
      left: 0;
      top: 0;
      border-radius: 0 0 20px 0;
    }
    .radius-right-bottom {
      left: 0;
      bottom: 0;
      border-radius: 0 20px 0 0;
    }
    &__name-not {
      background: #d7d7d7;
      //background:linear-gradient(315deg,rgba(136,136,136,1) 0%,rgba(170,170,170,1) 100%);
    }
    //&__name:before {
    //  content: ' ';
    //  width: 0;
    //  height: 100%;
    //  position: absolute;
    //  top: 10px;
    //}
    //&__name:before {
    //  border-right: 10px dotted $color-bg-gray;
    //  left: -5px;
    //}
    &___number {
      padding-top: 20px;
      font-size: 36px;
      color: #fefefe;
      &_text {
        font-size: 40px;
      }
    }
    &___info {
      font-size: 24px;
      margin: 0 auto;
    }
    &__content {
      display: flex;
      align-items: center;
      position: relative;
      flex: 1;
      padding: 0 20px;
      background: #fff;
      font-size: 24px;
      border-radius: 0 10px 10px 0;
    }
    &___description {
      padding-right: 20px;
      flex: 1;
      color: #666;
      font-size: 24px;
    }
    &___time {
      font-size: 20px;
      color: $color-gray-light;
    }
    &___used {
      text-align: right;
      .icon-used {
        position: absolute;
        top: -20px;
        right: 30px;
        font-size: 80px;
      }
    }
  }
}
