.gift-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.65);
  z-index: 997;
  .gift {
    position: relative;
    width: 70%;
    .zoom-btn {
      position: absolute;
      padding: 5px;
      right: 20px;
      top: -70px;
      font-size: 32px;
      color: #fff;
      border: 1PX solid #fff;
      border-radius: 100%;
      &::after {
        position: absolute;
        width: 1PX;
        left: 50%;
        height: 30px;
        top: 100%;
        background: #fff;
        content: "";
      }
    }
    .gift-bg {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
    .btn-primary {
      font-size: 24px;
    }
    .gift-btn {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      z-index: 998;
    }
  }
}
