@import "../../../../style/imports";

.coupon{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  &-left{
    flex:8;
    border-radius: 0 20px 20px 0;
    background: white;
    padding: 10px 0 10px 10px;
    .top{
     margin-bottom: 10px;
      color: #cd4718;
      .cur{
        font-size: 32px;
      }
      .total{
       font-size: 47px;
      }
      .discount{
        font-size: 27px;
        margin-left: 8px;
      }
    }
    .middle{
    margin-bottom: 8px;
      font-size: 19px;
      color: #cd4718;
    }
    .bottom{
     font-size: 18px;
      color: #d5d7dc;
    }
  }
  &-right{
    display: flex;
    flex-direction: row;
    flex: 3;
    border-radius: 20px 0 0 20px;
    background: white;
    position: relative;
    .see{
      width:122px;
      height: 38px;
      position: absolute;
      left:50%;
      top:50%;
      transform: translate(-50%,-50%);
    }
    .dash{
      width: 2px;
      margin: 20px 0;
      border-left: dashed 2px #e3e3e3;
    }
  }
}
