@import "../../../style/imports";

.category-list {
  height: 100%;
  background: #ffffff;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  &__nav {
    width: 25vw;
    height: 100%;
    text-align: center;
    background: #f5f5f5;
    box-sizing: border-box;
  }
  &__content {
    width: 75vw;
    height: 100%;
    background: #fff;
    box-sizing: border-box;
  }
}

.category-nav {
  &__content {
    width: 160px;
    height: 95px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 26px;
    text-overflow: ellipsis;
    border-left: 7px solid transparent;
    line-height: 95px;
    margin:0 auto;
    box-sizing: border-box;
    border-top: 1PX solid #e7e8ea;
    background-color: #f5f5f5;
  }
  &__content:first-child {
    border-top: 0;
  }
  &__content-checked {
    transition: background-color 0.5s, border-left 0.5s;
    width: 100%;
    color: #3e4044;
    background-color: #fff;
    box-sizing: border-box;
    border-top: 1PX solid transparent;
  }
  &__content-checked + &__content {
    border-top: 1PX solid transparent;
  }
  .hot-tag {
    display: inline-block;
    margin-right: 6px;
    padding: 4px;
    line-height: 1;
    vertical-align: super;
    text-align: center;
    background: #ff5000;
    border-radius: 6px;
    color: #fff;
    font-size: 20px;
    &::after {
      content: "热"
    }
  }
}
.category-content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 3vw;
  padding: 3vw 0;
  box-sizing: border-box;
  color: #3e4044;
  .new {
    width: 100%;
  }
  .group-title {
    padding-top: 20px;
    font-weight: bold;
  }
  .content-group {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
  }
  .category__banner {
    display: block;
    width: 100%;
    height: 183px;
    margin-bottom: 20px;
  }
  &__img {
    width: 23vw;
    height: 25vw;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .cat-img {
      width: 20vw;
      height: 20vw
    }
    .img-cat-name {
      font-size: 24px;
      color: #666;
    }
    .cat-img-no {
      display: none;
    }
  }
  &__img-empty {
    width: 140px;
    height: 0;
  }
}
.category-content-no {
  padding-left: 35px;
  text-align: center;
  &__content {
    margin-bottom: 36px;
  }
}
