@import "../../style/imports";
@import "../../style/animations";

$current-shop-height: 150px !default;

.page-store-list {
  background: #fff;
  height: 100%;
  box-sizing: border-box;
  &__scroll {
    @include page-scroll($searchbar-height + $current-shop-height + 10, 0);
  }
  .store-list__search {
    .at-search-bar {
      padding-right: 30px !important;
    }
    .search-input {
      &__focus{
        .at-search-bar {
          padding-right: 30px !important;
        }
      }
    }
    .at-search-bar__input {
      height: $searchbar-height !important;
    }
    .at-search-bar__input-cnt {
      flex: none;
      border-radius: $searchbar-height;
    }
    .at-search-bar__clear {
      height: $searchbar-height;
    }
    .at-search-bar__action {
      display: none;
    }
  }
  .store-list {
    .store-item {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      padding: 20px;
      background: #fff;
      .store-content {
        padding-right: 20px;
        flex: 1;
        .store-name {
          font-size: 32px;
        }
        .store-address {
          font-size: $font-size-small;
          color: $color-gray;
        }
      }
      .store-location {
        font-size: 46px;
        color: $color-gray;
      }
    }
  }
  .current-store {
    padding-top: 20px;
    height: $current-shop-height;
    .label {
      padding: 0 30px;
      height: 50px;
      line-height: 50px;
      background: #f8f8f8;
    }
    .content {
      padding: 0 30px;
      height: 80px;
      line-height: 80px;
      .loading {
        @include fade-loop(1s);
      }
      [class^="icon-"] {
        font-size: 42px;
        color: $color-gray;
      }
    }
  }
}
