@import "../../style/imports";

.page-category-index {
  width: 100%;
  height: 100vh;
  background: #ffffff;
  .search-input-fixed {
    z-index: $z-index-toolbar + 1;
  }
  .category__tabs {
    background: #fff;
    position: fixed;
    padding-top: 10px;
    top: 0;
    height: $tabs-height + 10px;
  }
  .category-comps {
    box-sizing: border-box;
    background: #ffffff;
    @include page-scroll($tabs-height + 10px, $tabbar-height);
  }
  .category-comps-not {
    box-sizing: border-box;
    background: #ffffff;
    @include page-scroll(0, $tabbar-height);
  }
}
