@import "../../style/imports";

.auth-forgotpwd {
  height: 100vh;
  background: $color-brand-primary-text;
  &__form {
    padding: $edge-size;
    margin: 0 0 $edge-margin;
  }
  .accountAgreement{
    width: 100%;
    text-align: center;
    &__text {
      color: $color-brand-primary;
    }
  }
}
