@import "../../style/imports";

.auth-login {
  height: 100vh;
  //padding-top: 160px;
  background: $color-brand-primary-text;
  &__reg {
    position: relative;
    z-index: 805;
    padding: $edge-size;
    text-align: right;
    box-sizing: border-box;
  }
  &__form {
    padding: $edge-size;
    margin: 0 0 $edge-margin;
    .icon-pwd {
      line-height: 40px;
    }
    .forgotPwd{
      font-size: 28px;
    }
  }
}
