@import "../../../style/imports";
$pege-header-height:155px;

.page-complaint-record{
  margin: 30px 30px 0 30px;
  padding-bottom: 40px;

  .pege-header{
    height: $pege-header-height;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 30px;
    overflow: hidden;
    display: flex;
    z-index: $z-index-level-4;
    &__avatar{

    }
    &__info{
      margin-left: 30px;
      flex: 1;

      &-name{
        font-size: 34px;
      }
      &-store_name{
        margin-left: 30px;
      }
      &-store_address{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
      }
      .complaint-button{
        width: 100px;
      }
    }
  }

  .page-main{
    margin-top: $pege-header-height+30px;
    .item-info__con-textarea,.item-reply__con-textarea{
      background-color:#f9f9f9;
      border-color: #efefef;
    }
    Image{
      width: 100%;
      height: 100%;
    }
  }

  .page-display{
    position: fixed;
    background: #000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $z-index-level-6;
    &__con{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      image{
        display: block;
      }
    }
  }
}

