@import '../../style/imports';

.page-goods-detail {
  .wgts-wrap__cont {
    padding: $edge-size;
    box-sizing: border-box;
    background: #ffffff;
  }
  .share {
    .at-float-layout {
      .layout-header {
        height: 80px;
        background-color: transparent;
      }
      .at-float-layout__container {
        min-height: auto;
      }
      .layout-body {
        min-height: auto;
      }
      .layout-body__content {
        min-height: auto;
      }
    }
  }
}

.wgt {
  &__padded {
    padding: 40px 0;
  }

  &__header {
    display: flex;
    align-items: center;
    padding: 0 20px 10px;
  }

  &__title {
    display: flex;
    align-items: flex-end;
    flex: 1;
    font-size: 32px;
  }

  &__subtitle {
    padding-left: 10px;
    font-size: 24px;
    color: #999;
  }
}

.goods-detail {
  &__wrap {
    height: 100vh;
    box-sizing: border-box;
    padding-bottom: $toolbar-height;
  }

  &__content {
    padding: $edge-size;
    box-sizing: border-box;
    background: #fff;
    image {
      width: 100% !important;
    }
    .wxParse-inline {
      font-size: 30px;
    }
  }
}

.goods-imgs {
  &__wrap {
    position: relative;
    height: 100vw;
  }

  &__swiper {
    height: 100vw;
  }

  &__text {
    background: rgba(#000, 0.5);
    position: absolute;
    color: #fff;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    padding: 0 20px;
    position: absolute;
    z-index: 5;
    bottom: 28px;
    right: 24px;
    white-space: nowrap;
    text-align: center;
  }
}

.goods-prices {
  display: flex;
  flex: 1;
  align-items: baseline;
  font-size: $font-size * 2;

  .price {
    margin-right: 15px;
    font-size: 40px;
    font-family: "Helvetica";

    &__symbol {
      font-size: 32px;
      font-family: "Helvetica";
    }
  }

  &__wrap {
    display: flex;
    align-items: baseline;
  }

  &__market {
    font-size: $font-size-small;
    color: $color-gray;
    text-decoration: line-through;
    font-weight: normal;
    font-family: "Helvetica";
  }

  .limited-buy-rule {
    color: $color-gray;
    font-size: 24px;
  }
}

.goods-timer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 0 $edge-size;

  &__hd {
    flex: 1;
  }

  &__bd {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 16px 0;
  }

  .goods-prices {
    display: block;
    .price {
      font-weight: bold;
      font-family: "Helvetica";
    }

    &__rule,
    &__type {
      font-size: floor($font-size-small * 0.9);
      display: block;
      padding: 0 10px;
      box-shadow: 0 0 0 1PX #fff;
      margin-right: 5px;
      border-radius: 10PX;
      overflow: hidden;
    }

    &__ft {
      display: flex;
      .price {
        font-size: floor(1.3 * $font-size);
        &__symbol {
          font-size: floor(0.8 * $font-size);
        }
      }
    }

    .goods-prices__market {
      color: #fff;
      opacity: 0.7;
      font-size: floor(0.8 * $font-size);
      font-family: "Helvetica";
      font-weight: lighter;
      .price__symbol {
        font-size: floor(0.8 * $font-size);
      }
    }
  }

  &__label {
    padding-bottom: 15px;
    font-size: 24px;
  }

  .countdown__time {
    margin-right: -10px;
  }

  .at-countdown__time-box {
    font-family: "Helvetica";
    background: #fff;
    border-radius: 6px;
    width: 40px;
    height: 40px;
    line-height: 42px;
    color: $color-brand-primary;
    font-size: 26px;
  }
}

.goods-sold {
  padding-left: 20px;
  font-size: $font-size-small;
  color: $color-gray;
}

.goods-income {
  background: $color-brand-primary;
  color: #fff;
  padding: 10px $edge-size;
  margin: -$edge-margin 0 $edge-margin;
  position: relative;
}

.goods-hd {
  background: #fff;
  padding: $edge-size;
  margin: 0 0 $edge-margin;
}

.goods-info__wrap {
  display: flex;
  .goods-title {
    font-size: 32px;
    display: block;
    color: #000;
    @include multi-ellipsis(2);
    line-height: 1.2;
    margin-bottom: 20px;
    &__wrap {
      flex: 1;
    }
    &__desc {
      display: block;
      font-size: 18px;
      display: block;
      line-height: 1.4;
      color: $color-gray;
      font-size: $font-size-small;
      margin-bottom: 28px;
    }
  }
  .goods-share {
    &__wrap {
      padding: 0 10px 0 30px;
      text-align: center;
      .icon-share {
        font-size: 50px;
        color: $color-brand-accent-light;
      }
      .share-label {
        font-size: 24px;
        color: $color-gray;
      }
    }
  }
}

.goods-fav {
  background: #f4f4f4;
  width: 112px;
  color: $color-gray;
  height: 60px;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  position: relative;
  right: 0;
  margin-right: -$edge-size;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 20px;

  &__text {
    font-size: 20px;
    color: $color-gray;
    margin-left: 4px;
  }
}

.goods-sec-action {
  display: flex;
  font-size: $font-size-small;
  line-height: 1;
  padding: $edge-size;

  .goods-action {
    flex: 1;

    &__label {
      color: $color-gray;
      margin-right: 28px;
    }
  }
}

.goods-sec-props {
  .sec-hd {}

  .goods-props__wrap {
    box-sizing: border-box;
    padding: $edge-size;
    display: flex;
    flex-wrap: wrap;
  }

  .prop-item {
    display: flex;
    width: 50%;

    &__label {
      color: $color-gray;
      width: 30%;
    }

    &__cont {
      flex: 1;
    }
  }
}

.goods-sec-specs {
  display: flex;
  background: #fff;
  padding: 30px;
  margin: 0 0 $edge-margin;
  .goods-sec-label {
    width: 120px;
    color: $color-gray;
    font-size: 24px;
  }
  .goods-sec-value{
    flex: 1;
  }
  .goods-sec-icon {
    display: block;
    margin-right: -8px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: rgba($color-gray-light, 0.8);
    font-size: 40px;
    text-align: center;
  }
  .sp-cell__hd {
    width: 120px;
  }
  .sp-cell__title {
    font-size: 24px;
    color: $color-gray;
  }
  .sp-cell__bd {
    overflow: hidden;
    white-space: nowrap;
  }
  .sp-cell__ft {
    padding: 0 15px;
  }
  .sp-cell__value {
    color: #333;
    text-align: left;
    font-size: 26px;
  }
  .goods-sec-title {
    margin-bottom: 10px;
    color: #333;
  }
  .goods-params__item {
    margin: 0 10px;
    display: flex;
    &-label {
      flex: 1;
      padding: 5px;
      margin-right: 1px;
      @include text-overflow();
      color: $color-gray;
      background: #fff;
      font-size: 26px;
    }
    &-value {
      flex: 2;
      padding: 5px;
      @include text-overflow();
      background: #fff;
      font-size: 26px;
    }
  }

  .coupon_tag {
    display: inline-block;
    border: 1PX solid #ff5000;
    border-radius: 6px;
    position: relative;
    height: 40px;
    line-height: 36px;
    padding: 0 20px;
    color: #ff5000;
    font-size: 20px;
    margin-left: 14px;
    &_circle {
      width: 20px;
      height: 20px;
      background: #fff;
      position: absolute;
      border-radius: 50%;
    }
    .circle_left {
      border-right: 1PX solid #ff5000;
      left: -12px;
      top: 8px;
    }
    .circle_right {
      border-left: 1PX solid #ff5000;
      right: -12px;
      top: 8px;
    }
  }
}

.goods-sec-tabs {
  .sec-tabs {
    height: 110px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
  }

  .sec-tab {
    &__item {
      font-size: $font-size;
      flex: 1;
      text-align: center;

      &.is-active {
        color: $color-brand-primary;
        text-decoration: underline;
      }
    }

    &__panel {
      display: none;
    }
  }

  .is-show {
    display: block !important;
  }
}

.store-info {
  padding: 30px;
  margin-bottom: 15px;
  background: #fff;
  .store-brand {
    display: block;
    margin-right: 20px;
    width: 120px;
    height: 120px;
  }
  .store-name {
    font-size: 32px;
  }
  .store-desc {
    color: #999;
  }
  .store-attention-btn, .store-enter-btn {
    margin-top: 20px;
    line-height: 60px;
    border-radius: 6px;
    box-shadow: 0 0 1PX rgba(0,0,0,0.5);
    text-align: center;
    font-size: 28px;
  }
  .store-attention-btn {
    margin-right: 10px;
  }
  .store-enter-btn {
    margin-left: 10px;
  }
}

.canvas {
  position: fixed;
  width: 375PX;
  height: 640PX;
  top: -10000px;
}
.poster-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  z-index: 999;
  .poster {
    width: 75vw;
    height: auto;
  }
  .poster-close-btn {
    width: 70px;
    height: 70px;
    margin-top: 20px;
    line-height: 70px;
    text-align: center;
    box-shadow: inset 0 0 0 1PX #fff;
    border-radius: 100%;
    color: #fff;
    font-size: 40px;
    background: rgba(255,255,255,0.5);
  }
  .poster-save-btn {
    height: 70px;
    margin-left: 50px;
    margin-top: 20px;
    padding: 0 50px;
    line-height: 70px;
    text-align: center;
    color: #fff;
    border-radius: 70px;
    background: $color-brand-primary;
    font-size: 26px;
    &::before {
      margin-right: 10px;
    }
  }
}

.grouping {
  .at-countdown {
    color: $color-gray;
    line-height: 1;
    vertical-align: middle;
    display: inline-block;
  }
  .at-countdown__time-box {
    font-family: "Helvetica";
    background: transparent;
    width: 40px;
    height: 40px;
    line-height: 42px;
    font-size: 26px;
  }
  .at-countdown__separator {
    padding: 0;
    font-size: 26px;
  }
}

.at-divider__line {
  width: 38%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
}

.at-divider__content {
  background: $color-bg-gray;
  color: $color-gray;
  z-index: 10;
}
.cart-list {
  padding: $edge-size;
  .like__hd {
    text-align: center;
    margin-bottom: 20px;
  }
  &__title {
    color: $color-brand-primary;
    margin: 0 auto;
    border-bottom: 1PX solid $color-brand-primary;
  }
  &__hd {
    color: $color-gray;
    font-size: $font-size;
    height: 40px;
    line-height: 40px;
  }
  &__disabled {
    margin-top: 40px;
  }
}

.goods-list {
  margin: 0 -10px;
  &__type-grid {
    display: flex;
    flex-wrap: wrap;
    .goods-list__item {
      width: 50%;
      padding: 10px;
      .goods-item__cont {
        height: 300px;
      }
      .goods-item__caption {
        height: 200px;
      }
    }
  }
}

.goods-evaluation {
  background: #fff;
  margin: 16px 0 0;
  padding: 48px 32px;
  .goods-sec-specs {
    padding: 0 0 48px 0;
    margin: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
  .goods-sec-label {
   width: 114px;
  }
  .goods-sec-icon {
    color: #000000;
  }
  .evaluation-list {
    .at-rate__icon--on {
      color: $color-brand-primary;
    }
  }
  .all-evaluation {
    font-size: 22px;
    color: $color-brand-primary;
    width: 207px;
    height: 54px;
    line-height: 54px;
    border: 1px solid $color-brand-primary;
    text-align: center;
    margin: 60px auto 0;
  }
}
