@import '../../style/imports';

.status-icon {
  position: fixed;
  right: -10px;
  top: -10px;
  font-size: 200px;
  background: rgba(255, 255, 255, 0.7);
  z-index: 10;
  border-radius: 100%;

  &.fail {
    color: #999;
  }

  &.success {
    color: #ff4856;
  }
}

.activity-time {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  &__label {
    padding-right: 10px;
  }
  .at-countdown__time-box {
    font-family: "Helvetica";
    background: $color-brand-primary;
    border-radius: 6px;
    width: 50px;
    height: 50px;
    line-height: 52px;
    color: #fff;
    font-weight: 600;
  }
}

.group-goods {
  background: #fff;
  border-radius: 0 0 16px 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;

  .goods-title {
    margin-bottom: 10px;
    font-size: 28px;
    color: #666;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.3;
  }

  .goods-img {
    display: block;
    width: 280px;
    height: 280px;
  }

  .price-label {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    padding-right: 10px;
    margin-right: 20px;
    box-shadow: 0 0 0 1px #ff4856;
    border-radius: 5px;
    font-size: 24px;
    color: #ff4856;

    .num {
      display: inline-block;
      height: 36px;
      line-height: 36px;
      padding: 0 10px;
      margin-right: 10px;
      background: #ff4856;
      color: #fff;
      font-weight: bold;
    }

    .label {
      display: inline-block;
      height: 36px;
      line-height: 36px;
    }
  }

  .activity-amount {
    font-size: 42px;
    margin-bottom: 5px;
  }

  .activity-market-price {
    padding-left: 10px;
    font-style: 26px;
  }

  .supports {
    padding: 10px;
    background: #fcfcfc;
  }

  .supports-item {
    padding: 10px;
    font-size: 22px;
    color: #666;
  }

  .support-icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
  }
}

.group-num {
  padding: 0 5px;
  color: #ff4856;
  font-size: 32px;
  font-weight: bold;
  font-family: Verdana;
}

.group-member {
  padding-top: 40px;

  .group-member-item {
    position: relative;
    margin: 0 15px 30px 15px;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    border: 4px solid #ff4856;

    .leader-icon {
      position: absolute;
      top: -30px;
      right: -30px;
      width: 60px;
      height: 60px;
      text-align: center;
      line-height: 60px;
      background: #ff4856;
      border-radius: 50% 50% 50% 0;
      color: #fff;
      font-size: 20px;
      letter-spacing: 0;
    }

    &.wait-member {
      background: #efefef;
      border: 4px dashed #ccc;
    }
  }

  .member-avatar {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }

  .btn-submit {
    background: $color-brand-primary;
    color: #fff;
  }
}

.at-button--primary {
  background: $color-brand-primary;
  border-color: $color-brand-primary;
  color: #fff;
}

.page-group-detail {
  .btn-submit {
    background: $color-brand-primary;
    text-align: center;
    border-radius: 6px;
  }
}

.view-flex {
  display: flex;
}

.view-flex-item {
  flex: 1;
}

.view-flex-justify {
  justify-content: space-between;
}

.content-padded {
  padding: 20px;
}

.view-flex-vertical {
  flex-direction: column;
}
// .btn-checkout .at-button__text{
// 	color:#fff;
// }
