@import '../../style/imports';

.more{
  position: relative;
  display: inline-block;
  width: 100%;
}
.own-hidden{
visibility: hidden;
  width: 100%;
}
.true-content{
  position: absolute;
  top:0;
  left:0
}
