@import "../../../../style/imports";

.store-trade-content{
  height: 100vh;
  padding-top: VH($nav-gap-height);
  display: flex;
  flex-direction: column;
  .scroll-order-list{
    flex: 1;
    overflow: hidden;
    .list-container{
      .none-order{
        margin-top: 200px;
        text-align: center;
        font-size: 32px;
        color: #A9A9A9;
      }
    }
  }
}
