@import '../../../style/imports';

.goods-buy-toolbar {
  background: #fff;
  height: $toolbar-height;
  box-sizing: border-box;
  padding: $edge-margin 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: $z-index-toolbar;
  display: flex;
  align-items: center;
  box-shadow: 0 0 -5px rgba(#000, 0.3);
  button {
    border: none;
  }
  &__menus {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  &__menu-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: $font-size-small;
    color: #9d9d9d;
    padding: 4px 0 0;
    margin: 0;
    line-height: 1;
    background: none;
    border: none;
    &:before, &:after {
      border: none;
    }
    [class^="icon-"] {
      font-size: 50px;
      margin: 0 0 8px;
      color: #9d9d9d;
    }
    [class^="icon-star"] {
      font-size: 55px;
    }
    &-text {
      font-size: $font-size-small;
      color: #555;
    }
  }
  &__btns {
    width: 500px;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: $toolbar-height;
  }
  &__btn {
    width: 250px;
    font-size: $font-size;
    flex: 1;
    text-align: center;
    height: $toolbar-height;
    line-height: $toolbar-height;
    color: #fff;
    border: none;
    border-radius: 0;
    font-weight: bold;
    white-space: nowrap;
    &.drug-btn {
      width: 500px;
    }
    &.marketing-btn {
      width: 500px;
    }
    &:before, &:after {
      display: none;
    }
  }
  .btn-add-cart {
  }
  .btn-fast-buy {
    margin-left: -1px;
  }
  .form-id-collector {
    flex: 1;
    overflow: hidden;
  }
}
