@import '../../../style/imports';

.share-panel {
  display: flex;
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    height: 180px;
    [class^="icon-"] {
      padding: 0;
      margin-bottom: 20px;
      font-size: 80px;
      background: none;
      color: $color-gray;
      &::after {
        content: none;
      }
    }
  }
}
