@import '../../../style/imports';

.vip-guide {
  display: flex;
  padding: 20px;
  margin-bottom: 20px;
  align-items: center;
  background: #fffdf1;
  color: #9e8d66;
  border-radius: 10px;
  &-content {
    flex: 1;
    padding-right: 20px;
  }
  .vip-price {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    .cur {
      font-size: 24px;
    }
    .vip-price-amount {
      font-size: 34px;
      letter-spacing: 0;
      @include text-overflow();
      font-weight: bold;
    }
  }
  .vip-guide-text {
    line-height: 1.2;
    font-size: 26px;
  }
  .vip-tag {
    height: 42px;
    line-height: 42px;
    padding: 0 10px;
    margin-right: 15px;
    border-radius: 5px;
    background: #c3b086;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
  }
  .vip-apply {
    padding: 0 20px;
    height: 60px;
    line-height: 58px;
    border: 1px solid rgba(158,141,102,0.3);
    border-radius: 8px;
    font-size: 24px;
  }
}
