@import "../../style/imports";

.coupon-picker {
  position: relative;
  top:VH($nav-gap-height);
  padding: $edge-margin 0;
  .coupon-item {
    &__nil {
      margin: 0 10px;
      background: #fff;
      display: flex;
      padding: 20px;
      align-items: center;
      border-radius: 10px;
      justify-content: space-between;
    }
  }
}
