@import "../../style/imports";

.page-cart-index {
  .login-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 70px;
    line-height: 70px;
    background: #fff;
    text-align: center;
    font-size: 24px;
    color: $color-brand-accent;
    border-top: 1px solid #f5f5f5;
    z-index: 999;
    .btn-login {
      padding: 0 20px;
      height: 48px;
      line-height: 48px;
      margin-left: 10px;
      border-radius: 48px;
      color: #FFFFFF;
      font-size: 24px;
    }
  }
  .goods-list {
    margin: 0 -10px;
    &__type-grid {
      display: flex;
      flex-wrap: wrap;
      .goods-list__item {
        width: 50%;
        padding: 10px;
        .goods-item__cont {
          height: 300px;
        }
        .goods-item__caption {
          height: 200px;
        }
      }
    }
  }

  .cart-list {
		padding: $edge-size;
		&__shop {
			margin: 0 0 20px;
			padding: 0 0 4px;
			.shop__name{
        padding: $edge-margin;
        .icon-shop {
          margin-right: 10px;
          color: $color-gray;
        }
			}
      .shop__wrap {
        background: #fff;
        box-shadow: 0 0 15px rgba(0,0,0,.1);
      }
		}
    &__scroll {
			// @include page-scroll($navigate-height, $toolbar-height + $tabbar-height);
      @include page-scroll($navigate-height, $tabbar-height);
    }
    &__actions {
      display: flex;
      justify-content: flex-end;
      padding: $edge-margin $edge-size 0;
    }
    .like__hd {
      text-align: center;
      margin-bottom: 20px;
    }
    &__title {
      color: $color-brand-primary;
      margin: 0 auto;
      border-bottom: 1PX solid $color-brand-primary;
    }
    &__hd {
      color: $color-gray;
      font-size: $font-size;
      height: 40px;
      line-height: 40px;
    }
    &__disabled {
      margin-top: 40px;
    }
    .goods-item {
      position: relative;
    }
    .sp-checkbox__wrap {
      margin-left: 8px;
      margin-right: 8px;
    }
  }
  .hidden-scroll {
    @include page-scroll($navigate-height, $toolbar-height);
	}
  .cart-group {
		margin: 0 0 $edge-margin;
		&:last-child{
			margin:0;
		}
    &__activity {
      position: relative;
      padding: $edge-margin $edge-size;
      &::after {
        position: absolute;
        left: $edge-size;
        right: $edge-size;
        height: 1PX;
        bottom: 0;
        background: #f5f5f5;
        content: "";
      }
      &-label {
        background: $color-brand-primary;
        color: #fff;
        font-size: 20px;
        display: inline-block;
        vertical-align: middle;
        padding: 2px 8px;
        margin-right: 8px;
      }
    }
    &__gifts {
      background: #fff;
      padding: 10px 25px;
      margin: 0 0 20px;
      &-hd {
        height: 50px;
        line-height: 50px;
      }
      &-bd {
      }
      .gift-item {
        margin: 0 0 10px;
        display: flex;
        align-items: flex-start;
        &__img {
          background: #f8f8f8;
          width: 80px;
          height: 80px;
          border: 1px solid $color-border-gray;
          margin-right: 16px;
        }
        &__title {
          font-size: $font-size-small;
          flex: 1;
        }
        &__num {
          width: 50px;
          font-size: $font-size-small;
          color: $color-gray;
          text-align: right;
        }
      }
    }
	}
  .cart-item {
    &__act {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .icon-close {
        font-size: 28px;
        color: #cdcdcd;
        padding: 8px;
        margin: -4px -4px 0 0;
      }
    }
    .at-input-number {
      $input-size: 40px;
      border: none;
      border-radius: 0;
      height: $input-size;
      overflow: hidden;
      &__btn {
        border: 1PX solid $color-border-gray;
        &:before, &:after {
          border: none;
        }
        width: $input-size;
        height: $input-size;
        box-sizing: border-box;
        padding: 0;
        text-align: center;
        overflow: hidden;
        &-subtract, &-add {
          font-size: 20px;
        }
      }
      &__input, input {
        line-height: $input-size;
        height: $input-size !important;
        min-height: $input-size;
        padding-top: 0;
        padding-bottom: 0;
        box-sizing: border-box;
        font-size: $font-size-small;
        border: none;
      }
    }
  }
  .cart-promotion {
    &__label {
      background: $color-brand-primary;
      color: #fff;
      font-size: $font-size-small;
      display: inline-block;
      vertical-align: middle;
      padding: 2px 8px;
      margin-right: 8px;
    }
  }
  .btn-rand {
    width: 180px;
    height: 80px;
    line-height: 80px;
    margin: 0 auto;
    display: block;
    background: $color-brand-primary;
    border-color: $color-brand-primary;
  }
  .at-action-sheet__container {
    z-index: $z-index-modal;
  }
  &.is-drug {
    .cart-list__scroll {
      @include page-scroll($navigate-height, $toolbar-height);
    }
    .cart-toolbar {
      bottom: 0;
    }
  }
}

.cart-toolbar {
	// bottom: $tabbar-height;
	position: initial;
  padding: 0 $edge-margin;
  background: #f9f9f9;
  &__hd {
  }
  &__bd {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .cart-total {
    font-size: $font-size-large;
    flex: 1;
    padding-left: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    &__discount {
      font-size: $font-size-small;
    }
    &__total {
      font-size: $font-size;
    }
    &__hint {
      color: $color-gray-light;
      color: #555;
      margin-right: 10px;
    }
  }
  .btn-checkout {
    width: 200px;
    margin: 0 0 0 24px;
    height: 68px;
    line-height: 68px;
    border: none;
    border-radius: 68px;
    font-weight: bold;
    font-size: $font-size;
    &:before, &:after {
      border: none;
    }
    .at-button__wxbutton {
      border: none;
    }
  }
}

.qrcode-bg {
  position: fixed;
  left: 30px;
  max-width: 300px;
  max-height: 200px;
  bottom: 140px;
  padding: 20px 30px;
  border-radius: 60px;
  display: flex;
  align-items: center;
  z-index: 999;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  &__img {
    width: 60px;
  }
}
