@import '../../style/imports';

.page-checkout {
  position: absolute;
  top:VH($nav-gap-height);
  //margin: $edge-size $edge-margin;
  width: 100%;
  .switch-tab {
    display: flex;
    align-items: flex-end;
    height: 100px;
    .switch-item {
      flex: 4;
      height: 80px;
      line-height: 80px;
      transition: all 0.2s ease;
      background: #fff;
      text-align: center;
      opacity: .5;
      font-size: 32px;
      border-radius: 10px 10px 0 0;
      &.active {
        flex: 5;
        height: 100px;
        line-height: 100px;
        opacity: 1;
        font-size: 36px;
      }
    }
  }
  .dash{
    width: 100%;
    height: 4px;
    position: absolute;
    bottom:4px;
  }

  .checkout {
    &__wrap {
      //height: 100vh;
      box-sizing: border-box;
      padding-bottom: $toolbar-height;
    }
    &__total {
      margin-right: 24px;
    }
    &-toolbar {
      display: flex;
      justify-content: flex-end;
    }
  }

  .address-module {
    padding: $edge-size $edge-margin*2;
    margin: 0 0 $edge-margin;
    background: #fff;
    .adr-icon {
      width: 46px;
      height: 46px;
    }
    .addr {
      display: flex;
      align-items: center;
      flex: 1;
      margin-bottom: 20px;
      .addr-title {
        font-size: 32px;
        margin-bottom: 5px;
        font-weight: 500;
      }
      .addr-detail {
        font-size: 26px;
        color: #666;
      }
      [class^="icon-"] {
        margin-right: 10px;
        font-size: 42px;
        color: #666;
      }
    }
  }

  .sec-checkout-items {
    padding: $edge-margin $edge-size $edge-size;
    .sp-cell {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .cart-group {
    &__shop {
      padding: 16px $edge-margin;
    }
    &__cont {
      padding: $edge-margin 0;
    }
    .at-input {
      &:after {
        border: none;
      }
    }
  }

  .trade-items {
    display: flex;
    &__bd {
      display: flex;
      align-items: center;
      max-width: 68%;
    }
  }
  .trade-item {
    &__img {
      width: 120px;
      height: 120px;
      margin-right: 20px;
    }
    &__title {
    }
  }

  .order-item {
    position: relative;
    padding: 40px 50px 20px;
    &__wrap {
    }
    &__bd {
      flex: 1;
    }
    &__idx {
      font-size: 24px;
      color: #333;
      padding: 16px 32px;
      height: 36px;
      line-height: 36px;
      display: block;
    }
    &__img {
      width: 175px;
      height: 175px;
      margin-right: 34px;
    }
    &__ft {
      position: absolute;
      bottom: 20px;
      right: 50px;
      left: 255px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__num {
      font-size: $font-size-small;
      color: #333333;
    }
    &__price {
      color: $color-theme;
      font-size: 28px;
      .price__symbol {
        font-size: $font-size-small;
      }
    }
    &__desc {
      margin: 0 0 46px;
    }
    &__discount {
      background: $color-theme;
      color: #fff;
      font-size: $font-size-small;
      display: inline-block;
      vertical-align: middle;
      padding: 2px 8px;
      margin-right: 8px;
    }
  }

  .trade-shipping, .trade-invoice, .trade-remark, .trade-point, .trade-payment {
    margin: 0 0 $edge-margin;
  }
  .trade-sub-total{
    margin: 0 ;
  }

  .trade-point {
    padding: 0 $edge-size $edge-margin;
    .sp-cell {
      padding-left: 0;
      padding-right: 0;
    }
    &__wrap {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    &__hint {
      color: $color-theme;
      font-size: $font-size-small;
    }
    &__input {
      background: $color-bg-gray;
      border-radius: 12px;
      height: 80px;
      line-height: 80px;
      box-sizing: border-box;
      font-size: $font-size;
      border: none;
      box-shadow: none;
      margin: 0;
    }
    switch {
      margin-left: 20px;
    }
    .at-input {
      &:after {
        border: none;
      }
      input {
        padding-left: $edge-size;
      }
    }
  }

  .trade-invoice, .trade-payment {
    .sp-cell__bd {
      display: flex;
      justify-content: flex-end;
    }
  }

  .trade-payment {
    background: #fff;
    &__hint {
      padding: 0 $edge-size 10px;
      margin-top: -5px;
      color: $color-orange;
    }
  }

  .trade-remark {
    padding: $edge-margin $edge-size;
    &__input {
      box-sizing: border-box;
      padding: 0;
      background: none;
      box-shadow: none;
      border: none;
    }
  }

  .trade-sub-total {
    padding: $edge-margin 0;
    &__item {
      padding-top: 20px;
      padding-bottom: 20px;
      border-bottom: solid 1px #eeeeee;
    }
    .sp-cell {
      &:before {
        border: none;
      }
      &__hd {
        width: 140px;
      }
      &__bd {
        color: $color-theme;
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  .coupons-list {
    margin: 0 0 $edge-margin;
  }

  .coupon-item {
    display: flex;
    align-items: center;
    &__bd {
      flex: 1;
    }
    &__ft {
      width: 30%;
      color: $color-gray;
    }
  }

  .at-float-layout {
    &__container {
      min-height: auto;
    }
    .layout-body {
      padding: 0;
    }
    .at-button {
      position: fixed;
      bottom: 0;
      border-radius: 0;
      left: 0;
      width: 100%;
      z-index: 99;
      height: $at-button-height + 10px;
      &:before {
        border-radius: 0;
        border: none;
      }
    }
  }

  .checkout-toolbar {
    padding-left: 34px;
    padding-right: 0;
    justify-content: space-between;
    .checkout__total {
      white-space: nowrap;
      flex: 1;
      margin-right: 0;
    }
    .price {
      font-weight: bold;
      .price__symbol {
        font-size: $font-size;
      }
    }
  }

  .btn-confirm-order {
    width: 232px;
    margin: 0 24px 0 24px;
    height: $toolbar-height - 50px;
    line-height: $toolbar-height - 50px;
    border: none;
    border-radius: ($toolbar-height - 50px)/2;
    font-weight: bold;
    font-size: $font-size;
    &:before, &:after {
      border: none;
    }
  }
}
.total-count{
  text-align: right;
  line-height: 100px;
  height: 100px;
  background: white;
  padding-right: 50px;
}
.position{
  .sp-cell__bd{
    justify-content: flex-start !important;
  }
  .at-input{
    margin: 0;
    width: 550px;
  }
}

