@import "../../../../style/imports";

.trade-item {
  background: #fff;
  border-radius: $item-border-radius;
  margin: 0 0 $edge-margin;
  padding: 30px;
  &__hd {
    padding: 28px $edge-size 0;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .more {
      color: $color-link;
      font-size: small;
      text-align: right;
    }
  }

  &__total {
    padding: 0 $edge-size floor($edge-size/2);
    text-align: right;
  }

  &__hd {
    padding: 0 0 10px;
    //height: 44px;
    line-height: 1.4;
    border-bottom: 1px solid #e4e4e4;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    color: #a6a6a6;
  }
  &__total {
    padding: 20px 0;
    font-size: 22px;
    color: #000;
  }
  &__ft {
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    &-actions {
      font-size: $font-size-small;
      color: #a6a6a6;
      position: relative;
      z-index: 10;
    }
    &-bd {
      display: flex;
      justify-content: flex-end;
    }
  }
  &__status {
    font-size: $font-size-small;
    color: #c1c1c1;
    display: inline-block;
    vertical-align: top;
    line-height: 40px;
  }
  &__acts {
    line-height: 40px;
  }
  &__dropdown {
    visibility: hidden;
    opacity: 0;
    background: #4c4c4c;
    border-radius: 6px;
    width: 140px;
    padding: 8px 0;
    margin-left: 25px;
    text-align: center;
    position: absolute;
    z-index: $z-index-dropdown;
    line-height: 40px;
    &.is-active {
      transition: all .2s ease-in;
      font-size: $font-size;
      opacity: 1;
      visibility: visible;
    }
    &-item {
      color: #fff;
      line-height: 40px;
      display: block;
      font-size: $font-size-small;
    }
  }
}
