@import "../../style/imports";

.page-address-index {
  background: #f5f5f5;
  .member-address-list {
    padding: 53px 30px 120px 40px;
  }
  .address-item {
    display: flex;
    justify-content: space-between;
    &__check {
      //width: 40px;
      //overflow: hidden;
    }
    &__unchecked {
      margin-top: 25px;
      display: block;
      width: 32px;
      height: 32px;
      border: 1PX solid $color-brand-primary;
      background: #ffffff;
      box-sizing: border-box;
      border-radius: 50%;
      overflow: hidden;
    }
    &__checked {
      margin-top: 25px;
      color: $color-brand-primary;
    }
    &__content {
      flex: 1;
      background: #ffffff;
      box-shadow: 0px 8px 26px 0px rgba(0, 0, 0, 0.07);
      border-radius: 18px;
      margin-bottom: 48px;
      margin-left: 12px;
      padding: 30px 23px 10px;
    }
    &__title {
      color: #010101;
      margin-bottom: 23px;
    }
    &__info {
      margin-right: 20px;
    }
    &__detail {
      color: #0d0d0d;
      padding-bottom: 14px;
      border-bottom: 1Px solid #e6e6e6;
    }
  }
  .address-item__footer {
    display: flex;
    justify-content: space-between;
    color: #9d9d9d;
    padding-top: 19px;
    &_default {
      font-size: 23px;
    }
    .default__icon {
      margin-right: 14px;
      vertical-align: middle;
      font-size: 32px;
    }
    .default__checked {
      color: $color-brand-primary;
    }
    .default-text {
      vertical-align: middle;
    }
    &_edit {
      font-size: 23px;
      display: flex;
    }
    .footer-text {
      font-size: 23px;
      margin-right: 27px;
    }
    .footer-icon {
      font-size: 26px;
      margin-right: 11px;
    }
  }
  .member-address-add {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 80px;
    color: #ffffff;
    text-align: center;
    line-height: 80px;
    font-size: 26px;
  }
}
