@import '../../style/imports';

.page-address-edit {
  &__form {
    background: #fff;
    padding: $edge-size;
    margin: 0 0 $edge-margin;
  }
  .picker {
    padding: 16px 0;
    margin: 0 0 $edge-size;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1PX solid rgba($color-brand-primary, 0.2);
    &__title {
      font-size: $font-size;
      margin-right:16px;
      width:172px;
    }
    .pick-value {
      color: #333;
    }
    span.pick-value-null {
      color: #ccc;
    }
    text.pick-value-null {
      color: #808080;
    }
  }
}
