@import "../../style/imports";

page{
  background: white;
}
.taro_page{
  background: white;
}
.member__scroll{
  @include page-scroll($nav-gap-height)
}
.member-body{
  padding: 0 40px;
}
.member-feature{
  &-dec{
    font-size: 24px;
    color:#2f2f2f;
    font-weight: bold;
    height: 60px;
    line-height: 60px;
    border-bottom:solid 2px #eeeeee;
    .serve{
      margin-left: 20px;
    }
  }
  &-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &-item{
      width: 25%;
      flex: none;
      &-button{
        background: white;
        width: 100%;
        height: 100%;
        line-height: 1.4;
        color:#2f2f2f;
        border:none
      }
      &-button:after{
        border: none;
      }
      &-button,&-click{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 25px;
        padding: 30px 0;
        line-height: 1.4;
        .dec{
          margin-top: 36px;
        }
      }
      .img{
        width: 48px;
        height: 48px;
      }
    }
  }
}

.member-order{
  margin-top: 20px;
  &-dec{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    color:#2f2f2f;
    font-weight: bold;
    height: 60px;
    line-height: 60px;
    border-bottom:solid 2px #eeeeee;
    .my-order{
      margin-left: 20px;
    }
    .icon-chakan{
      font-size: 28px;
      color:#5f5e5e;
      margin-right: 20px;
    }
  }
  &-list{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    padding: 30px 0;
    &-item{
      width: 25%;
      flex: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      .trade-num{
        position: absolute;
        top:0;
        font-size: 18px;
        text-align: center;
        line-height: 24px;
        right: 18px;
        width: 24px;
        height: 24px;
        border-radius: 12px;
        background: $color-theme;
        color:white
      }
      .item-icon{
        font-size: 70px;
      }
      &-dec{
        font-size: 26px;
        margin-top: 10px;
      }
    }
  }
}
.member-header{
  background: $color-theme;
  padding: 25px 25px 0;
  color:white;
  &-vip{
    background: #413c36;
    border-radius:12px 12px 0 0;
    padding: 0 15px;
    .gold{
      color:#FEDEA0;
    }
    &-dec,&-dec-small{
      display:flex;
      flex-direction: row;
      align-items: center;
      .feature{
        margin-left: auto;
      }
    }
    &-dec{
      position: relative;
      top:8px
    }
    &-dec-small{
      font-size: 20px;
    }
    .icon-huiyuan{
      font-size: 25px;
      height: 30px;
      width: 30px;
      line-height: 30px;
      color:#FEDEA0;
      margin-right: 5px;
    }
    .icon-chakan{
      font-size: 30px;
      color:white;
      margin-left: 5px;
    }
  }
  &-user{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
    overflow:auto;
    min-height: 250px;
    :after{
      content: '';
      display: block;
      width: 0;
      height: 0;
      clear: both;
    }
    &-logo{
      margin-right: auto;
     .img{
       width: 81px;
     }
    }
    &-info{
      align-self: center;
      text-align: center;
      overflow: auto;
      &-login{
        position: absolute;
        top:40px;
        left:50%;
        transform: translate(-50%,0);
        display: flex;
        flex-direction: column;
        align-items: center;
        .update-userinfo{
          color: white;
          font-size: 24px;
          margin-left: 8px;
        }
        .user-name{
          margin-top: 15px;
        }
        .user-inviter{
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          font-size: 24px;
          margin-top: 15px;
          .inviter{
            height: 38px;
            line-height: 38px;
            border-radius: 19px;
            padding: 0 10px;
            background:#413c36 ;
            color:#FEDEA0;
            margin-right: 10px;
            white-space: nowrap;
          }
        }
        .avatar-img{
          width: 120px;
          height: 120px;
          border-radius: 60px;
        }
      }
      &-unlogin{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 50%;
        top:40px;
        transform: translate(-50%,0);
        .icon-container{
        }
       .login{
         height: 40px;
         font-size: 24px;
         line-height: 40px;
         background: white;
         border-radius: 15px;
         padding: 0 15px;
         color:$color-theme;
         margin-top: 15px;
       }
      }
    }
    &-setting,&-code{
      height: 45px;
      line-height: 45px;
      font-size: 24px;
      border-radius: 22.5px;
      padding: 0 20px;
      margin-left: 20px;
      background: #c17D7a;
      display: flex;
      flex-direction: row;
      align-items: center;
      .iconfont{
        font-size: 26px;
        width: 30px;
        height: 30px;
        line-height: 30px;
      }
    }
    &-info{
      &-login{

      }
      &-unlogin{
        .icon-container{
          width: 120px;
          height: 120px;
          border-radius: 60px;
          background: white;
          text-align: center;
          line-height: 120px;
          .iconfont{
            font-size: 70px;
            color:grey;
          }
        }
      }
    }
  }
}
.view-flex{
  display: flex;
  flex-direction: row;
  margin: 30px 0;
  &-item{
    width: 25%;
    text-align: center;
    .member-assets__value{
      margin-bottom: 15px;
      font-size: 35px;
      font-weight: bold;
    }
  }
}
