@import "../../style/imports";
$color-white: black;


page{
  background: white;
}
.live-container{
  position: relative;
  top:VH($nav-gap-height);
  .img{
    width: 750px;
  }
}
.live{
  display: flex;
  flex-direction: column;
  padding: 160px 12.5px 160px;
  height: 100vh;
  &-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 25px;
    font-size: 25px;
    color:$color-white;
    .icon-close{
      margin-left: auto;
      font-size: 35px;
      color:$color-white;
    }
    .icon-dizhi{
      font-size: 35px;
      color:$color-white;
      margin-right: 8px;
    }
  }

  &-body-bg{
    width: 720px;
    border-radius: 10px;
    background: rgba(0,0,0,0.3);
  }
  &-body{
    margin-top: 70px;
  }

  &-footer{
    margin-top: auto;
    &-list{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 125px;
      font-size: 20px;
      color:$color-white;
      .item{
        text-align: center;
      }
      .iconfont{
        font-size: 48px;
        color:$color-white;
        margin-bottom: 14px;
      }
    }
    &-begin{
      margin: 35px auto 0;
      width: 585px;
      height: 95px;
      border-radius: 47.5px;
      line-height: 95px;
      text-align: center;
      font-size: 40px;
      color:white;
      background: $color-theme;
    }
  }
}
.live-config{
  position: fixed;
  bottom: 0;
  left:0;
  width: 750px;
  background: #2d2b2b;
  border-radius: 20px 20px 0 0;
  .reverse-config{
    padding: 30px 20px 10px;
    .title{
      color: white;
    }
    .item-list{
      display: flex;
      justify-content: center;
      .config-item{
        margin: 20px 20px 10px;
      }
    }
  }
 .other-config{
   padding: 30px 20px 10px;
   .title{
     color: white;
   }
   .scroll-contain{
     width: 100%;
     overflow: hidden;
     .item-list{
       width: 100%;
       display: flex;
       flex-wrap: nowrap;
       .config-item{
         margin: 20px 20px 10px;
       }
     }
   }
 }

  .config-close{
    text-align: center;
    .icon-arrow-left{
      display: inline-block;
      transform: rotate(-90deg);
      font-size: 40px;
      color: white;
    }
  }
}
.config-item{
  flex:none;
  text-align: center;
  line-height: 90px;
  width: 90px;
  height: 90px;
  font-size: 28px;
  border-radius: 45px;
  background: #6f6b6b;
  color:white
}
.selected{
  border: solid 4px $color-theme;
}
