@import "../../style/imports";
$color-white: black;


page{
  background: white;
}
.live-container{
  position: relative;
  top:VH($nav-gap-height);
  .img{
    width: 750px;
  }
}
.live{
  display: flex;
  flex-direction: column;
  padding: 160px 12.5px 160px;
  height: 100vh;
  &-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 25px;
    font-size: 25px;
    color:$color-white;
    .icon-close{
      margin-left: auto;
      font-size: 35px;
      color:$color-white;
    }
    .icon-dizhi{
      font-size: 35px;
      color:$color-white;
      margin-right: 8px;
    }
  }

  &-body-bg{
    width: 720px;
    height: 350px;
    border-radius: 10px;
    background: rgba(0,0,0,0.3);
  }
  .true-content{
    margin:28px 22px ;
    display: block;
    width: 681px ;
  }
  &-body{
    margin-top: 70px;
    &-title{
      font-size: 32px;
      color: white;
      padding-bottom: 26px;
      border-bottom: solid 2px white;
    }
    &-upload{
      margin: 30px 0 24px;
      height: 180px;
      display: flex;
      .left{
        position: relative;
        width: 180px;
        height:180px;
        border-radius: 10px;
        overflow: hidden;
        background: rgba(0,0,0,0.6);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .img{
          position: absolute;
          width: 100%;
          height: 100%;
          left:0;
          top:0;
          z-index:5
        }
        .icon-jia{
          color: white;
          font-size: 50px;
          position: absolute;
          left:50%;
          top:50%;
          transform: translate(-50%,-50%);
          z-index:10
        }
        &-bottom{
          font-size: 23px;
          color:white;
          display: flex;
          justify-content: center;
          align-items: center;
          .iconfont {
            margin-right: 10px;
          }
        }
      }
      .right{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-left: 20px;
        .name-input{
          width: 450px;
          border-bottom: solid 4px white;
          color:white
        }
      }
    }
  }

  &-footer{
    margin-top: auto;
    &-list{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 125px;
      font-size: 20px;
      color:$color-white;
      .item{
        text-align: center;
      }
      .iconfont{
        font-size: 48px;
        color:$color-white;
        margin-bottom: 14px;
      }
    }
    &-begin{
      margin: 35px auto 0;
      width: 585px;
      height: 95px;
      border-radius: 47.5px;
      line-height: 95px;
      text-align: center;
      font-size: 40px;
      color:white;
      background: $color-theme;
    }
  }
}
.live-config{
  position: fixed;
  bottom: 0;
  left:0;
  width: 750px;
  background: #2d2b2b;
  border-radius: 20px 20px 0 0;
  .reverse-config{
    padding: 30px 20px 10px;
    .title{
      color: white;
    }
    .item-list{
      display: flex;
      justify-content: center;
      .config-item{
        margin: 20px 20px 10px;
      }
    }
  }
 .other-config{
   padding: 30px 20px 10px;
   .title{
     color: white;
   }
   .scroll-contain{
     width: 100%;
     overflow: hidden;
     .item-list{
       width: 100%;
       display: flex;
       flex-wrap: nowrap;
       .config-item{
         margin: 20px 20px 10px;
       }
     }
   }
 }

  .config-close{
    text-align: center;
    .icon-arrow-left{
      display: inline-block;
      transform: rotate(-90deg);
      font-size: 40px;
      color: white;
    }
  }
}
.config-item{
  flex:none;
  text-align: center;
  line-height: 90px;
  width: 90px;
  height: 90px;
  font-size: 28px;
  border-radius: 45px;
  background: #6f6b6b;
  color:white
}
.selected{
  border: solid 4px $color-theme;
}
