@import "../../style/imports";

.member-code-wrap {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  .member-code {
    position: relative;
    width: 100%;
    margin: 0 40px;
    padding: 100px 0 50px 0;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    color: #666;
    .avatar {
      position: absolute;
      left: 50%;
      top: 0;
      width: 130px;
      height: 130px;
      border-radius: 50%;
      z-index: 1;
      transform: translate(-50%, -60%);
      box-shadow: 0 0 0 10px #fff;
      .icon-planet {
        width: 100%;
        height: 100%;
        line-height: 120px;
        text-align: center;
        font-size: 80px;
      }
      .icon-vip {
        position: absolute;
        width: 40px;
        height: 40px;
        bottom: -10px;
        right: -10px;
      }
      .avatar-img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .nickname {
      position: relative;
      transform: translateY(-80%);
      z-index: 1;
      font-size: 32px;
      font-weight: 800;
    }
    .code-num, .code-tip {
      font-size: 28px;
    }
    &-bar {
      width: 90%;
      height: 200px;
      margin-bottom: 50px;
    }
    &-qr {
      width: 280px;
      height: 280px;
      margin-bottom: 30px;
    }
  }
}
