@import "../../style/imports";

.qrcode-buy {
  position: relative;
  top:VH($nav-gap-height);
    height: 100%;
    &__bgimg {
        width: 100%;
    }
    .islogin_user {
        width: 100%;
        margin-bottom: 20px;
        background: #f5f5f5;
        &__content {
            position: relative;
            width: 90%;
            margin: 30px 5% 0;
        }
        &_info {
            position: absolute;
            color: #ffffff;
            top: 60px;
            left: 30px;
            right: 30px;
            display: flex;
            justify-content: space-between;
        }
    }
    .scancode-view {
        width: 100%;
        text-align: center;
    }
    &__img {
        width: 100%;
    }
    &__scanning {
        display: block;
        width: 50%;
        margin: 40px auto 20px;
    }

    .wauth-btn {
        width: 80%;
        margin: 40px auto;
        &__btn {
            width: 100%;
            // margin: 40px auto;
            height: 80px;
            border-radius: 10px;
            line-height: 80px;
            color: #ffffff;
            text-align: center;
        }
        &__tips {
            margin-top: 20px;
        }
        &__text {
            text-decoration: underline;
        }
    }
    .auth-btns {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background: #ffffff;
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
        &__item {
            padding: 10px 0;
            text-align: center;
        }
        .icon {
            font-size: 40px;
        }
    }
}
