.drug-info {
  padding: 30px 30px 130px;
  .drug-describe {
    margin-top: 20px;
    background: #ffffff;
    box-sizing: border-box;
    &__img {
      margin-top: 40px;
    }
    &__imgupload {
      margin-left: -15px;
      &_text {
        display: block;
        padding: 30px;
        color: #b3b3b3;
      }
    }
  }
}
