@import '../../../style/imports';

.payment-picker {
  &__hd {
    background: #fff;
    height: 95px;
    line-height: 95px;
    font-size: $font-size-large;
    padding: 0 40px;
    position: relative;
    font-weight: bold;
    @include hairline();
    .at-icon-close {
      font-size: 30px;
      color: #555;
      position: absolute;
      right: 20px;
      top: 50%;
      margin-top: -15px;
    }
  }
  &__bd {
    //height: 350px;
    padding: 30px 0;
  }
  .part-balance-payment{
    margin: 10px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    .input{
      width: 300px;
    }
    .dec{
      font-size: 24px;
      .total{
        font-size: 24px;
        color:$color-theme;
      }
    }
  }
  .payment-item {
    display: flex;
    align-items: center;
    align-content: center;
    padding: 28px 0;
    margin: 0 40px;
    @include hairline();
    &.no-border {
      &:after {
        border: none;
      }
    }
    &.is-disabled {
      opacity: 0.6;
    }
    &__bd {
      flex: 1;
    }
    &__ft {
    }
    &__title {
      display: block;
      font-weight: bold;
      margin: 0 0 20px;
      line-height: 1;
    }
    &__desc {
      line-height: 1;
    }
  }
  .btn-submit {
    border-radius: 0;
    &::after {
      content: none;
    }
  }
}
