@import "../../style/theme";

.nav-gap{
  &-container{
    background-color: white;
    position: relative;
    height: $nav-gap-height;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  &-icon{
    .icon-arrow-left{
      position: relative;
      font-size: 55px;
      height: 100px;
      line-height: 100px;
      right: 260px;
    }
  }
  &-title{
    font-size: 35px;
  }
}
