@import "../../style/theme";
@import "../../style/mixins";

.nav-gap{
  &-container{
    height: VH($nav-gap-height);
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  &-icon{
    .icon-arrow-left{
      position: relative;
      font-size: 55px;
      height: 100px;
      line-height: 100px;
      right: 260px;
    }
  }
  &-title{
    font-size: 35px;
  }
}
