@import '../../style/imports';

$item-img-size: 240px !default;

.recommend-list__type-grid {
  //height: ;
  .recommend-item {
    flex-direction: column;
    align-items: flex-start;
    &__bd {
      width: 100%;
    }

  }
}

.draw-item__ft-inner {
  display: flex;
  justify-content: space-between;
  font-size: $font-size-small;
  color: $color-gray;
  .weui-progress {
    flex: 1;
    margin-left: 10px;
  }
}

.recommend-item {
  $self: &;
  position: relative;
  border-radius: $item-border-radius;
  overflow: hidden;
  box-shadow: 0 5px 5px rgba(0,0,0,0.1);

  &__hd {
  }
  &__bd {
    border-radius: $item-border-radius;
    background: #fff;
    overflow: hidden;
  }
  &__cont{
    height: 250px;
    padding: 20px;
  }
  &__img {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    &-wrap {
      display: flex;
      position: relative;
      &::after {
        padding-top: 100%;
        content: ""
      }
    }
  }
  &__caption {
    height: 160px;
  }
  &__title {
    margin: 0 0 8px;
    max-height: 80px;
    @include multi-ellipsis(2);
    line-height: 1.2;
    font-size: 26px;
    color: #333;
    font-family: Arial;
  }
  &__desc {
    margin: 0 0 15px;
    line-height: 1.3;
    @include multi-ellipsis(2);
    color: $color-gray;
    font-size: $font-size-small;
  }
  &__price {
    font-size: floor(1.28 * $font-size);
    margin-right: 24px;
  }
  &__point {
    color: $color-brand-primary;
  }
  &__price-market {
    font-size: $font-size-small;
    color: $color-gray;
    text-decoration: line-through;
  }

  &__extra {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__author {
    font-size: $font-size-small;
    color: #000;
    &-avatar {
      background: $color-bg-gray;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      margin-right: 12px;
      display: inline-block;
      vertical-align: middle;
      overflow: hidden;
    }
    &-name {
      width: 140px;
      display: inline-block;
      vertical-align: middle;
      @include text-overflow();
    }
  }
  &__actions {
    color: #d0d0d0;
    font-size: $font-size-small;
    [class^="icon-"] {
      color: #d0d0d0;
      font-size: 32px;
      &:before {
        margin-right: 8px;
      }
    }
    .icon-star-on, .icon-like-on {
      color: $color-brand-primary;
    }
  }
  .is_like__active{
    [class^="icon-"] {
      color: $color-brand-primary;
    }
  }
}
