@import "../../style/imports";
@import "../../style/animations";

.sp-icon-weixin {
  color: $color-weixin;
}

.address-picker {
  //@include page-view();
  .address {
    margin: 0 0 $edge-margin;
  }
  .add_address {
    text-align: right;
    padding: 10px 30px;
  }
  .address-item {
    display: flex;
    align-items: center;
    &__receiver {
      flex: 1;
      color: #111;
    }
    &__name {
      font-weight: bold;
      font-size: $font-size-large;
      margin-right: 20px;
    }
    &__mobile {
      color: $color-gray;
    }
    &__addr {
      display: block;
    }
    &__ft {
      width: 60px;
      border-left: 1px solid $color-gray-light;
      color: $color-gray-light;
      padding-left: $edge-size;
      margin-left: $edge-size;;
      font-size: $font-size-small;
      white-space: nowrap;
      text-align: center;
    }
  }
  // choose-address
  &__bd {
    width: 100%;
    box-sizing: border-box;
    .address-receive {
      display: flex;
      justify-content: flex-start;
      color: #555555;
      margin-right: 9px;
    }
    .info-trade {
      flex: 1;
    }
    .user-info-trade {
      color: #666;
      font-size: 26px;
      .name {
        margin-right: $edge-margin;
      }
    }
    .address-detail {
      padding: $edge-margin/2 0;
      color: #333;
      font-weight: 500;
      font-size: 32px;
    }
    .address-area {
      color: #666;
      font-size: 26px;
    }
  }
  .other-address {
    background: #ffffff;
    border-top: 1PX solid #ececec;
    padding: 28px 30px 21px;
    color: #555555;
    .icon-add {
      color: #555555;
      display: inline-block;
      margin-right: 10px;
    }
  }
}
