@import "../../style/imports";

.coupon-list {
  .at-tabs__header {
    position: absolute;
    top: $navigate-height;
    width: 100%;
    z-index: $z-index-toolbar;
  }
  .home_coupon-list__scroll {
    height: 100vh;
    padding: 20px $edge-margin;
    box-sizing: border-box;
  }
  &__tabs {
    position: fixed;
    z-index: $z-index-toolbar;
    left: 0;
    height: 100PX;
    top: 0;
    width: 100%;
  }
}

.coupon-btn {
  color: #ffffff;
  font-size: 24px;
  height: 50px;
  line-height: 50px;
  border-radius: 50px;
  padding: 0 10px;
  &__done {
    background: #c4c4c4 !important;
    color: #ffffff;
    opacity: 0.8;
  }
}
