@import "../../style/imports";

.page-index {
  background: #fff;
  height: 100%;
  box-sizing: border-box;
  .at-toast {

  }
  .add_tip {
    display: flex;
    position: fixed;
    padding: 20px;
    width: 70%;
    top: 30px;
    right: 60px;
    z-index: $z-index-toast;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    background: #ffffff;
    .tip-text {
      flex: 1;
    }
    .icon-view {
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      background: rgba(0, 0, 0, 0.2);
      border-radius: 50%;
      font-size: 24px;
      color: #fff;
    }

  }
  .add_tip:after {
    content: '';
    display: inline-block;
    position: absolute;
    border: 20px solid transparent;
    border-bottom-color: #ffffff;
    top: -40px;
    left: 80%;
    margin-left: -10px;
    width: 0;
    height: 0;
  }
  .float-menus {
    width: 180px;
    right: 20px;
    bottom: 190px;
    .distribution-shop {
      width: 100%;
      border-radius: 60px;
      box-shadow: 0 0 20px rgba(0,0,0,.2);
    }
  }
}

.wgts-wrap {
  $self: &;
  @include page-scroll(0, 0);
  background: #fff;
  #{$self}__cont {
    padding-top: 0;
  }
  &__fixed {
    #{$self}__cont {
      padding-top: $home-search-height;
    }
  }
  &__is-distributor {
  }
}


.faverite-content {
  padding: 0 24px;
  box-sizing: border-box;
}

.slider-search {
  position: relative;
}

.wgt {
  &__padded {
    padding: 40px 0;
  }
  &__header {
    display: flex;
    align-items: center;
    padding: 0 20px 10px 20px;
  }
  &__title {
    display: flex;
    align-items: flex-end;
    flex: 1;
    font-size: 32px;
  }
  &__subtitle {
    padding-left: 10px;
    font-size: 24px;
    color: #999;
  }
  &__body {
    &.with-padding {
      padding: 0 20px;
    }
  }
  &__goods__more {
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: center;
    height: 24px;
    border-radius: 60px;
  }
  &__more {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 24px;
    border-radius: 60px;
    .three-dot {
      position: relative;
      width: 8px;
      height: 8px;
      background: #333;
      border-radius: 50%;
      &::before, &::after {
        position: absolute;
        width: 8px;
        height: 8px;
        background: #333;
        border-radius: 50%;
        content: "";
      }
      &::before {
        transform: translateX(-160%);
      }
      &::after {
        transform: translateX(160%);
      }
    }
  }
  button {
    font-size: 26px;
  }
}

.grid-goods__type-grid {
  @include clearfix();
  overflow: visible;
  .goods-item {
    width: 48%;
    float: left;
    overflow: hidden;
    margin-left: 1%;
    margin-right: 1%;
    box-shadow: 2px 2px 24px rgba(#000, 0.1);
    &__img {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      &-wrap {
        width: 100%;
        height: auto;
        position: relative;
        &:after {
          content: "";
          display: flex;
          padding-top: 100%;
        }
      }
    }
    &__cont {
      padding-left: floor($edge-size / 2);
      padding-right: floor($edge-size / 2);
    }
    &__bd {
      flex-direction: column;
      flex: 1;
      overflow: hidden;
    }
    &__cont {
      height: 210px;
    }
  }
}

.at-noticebar {
  background: inherit !important;
  color: inherit !important; 
}