@import "variables";
@import "theme";

@function VH($height1){
  @if $height1 == 0 {@return 0}@else {
    @return $height1/($base-height*$px-rpx)*100vh
  }
}
@function VH-last($height1){
  @if $height1 == 0{@return 0}@else {
    @return (1 - $height1/($base-height*$px-rpx))*100vh
  }
}

@mixin text-overflow(){
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin clearfix(){
  &:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; overflow:hidden;}
  overflow: hidden;
}

@mixin multi-ellipsis($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
}

@mixin arrow ($size:4px, $color: $color-border-gray) {
  content: '';
  border: $size solid $color;
  display: block;
  width: $size;
  height: $size;
  border-left: 0;
  border-top: 0;
  transform: rotate(45deg);
}

@mixin hairline($color: $color-border-gray, $left-gap: 0, $sides...) {
  @if length($sides) == 0 {
    $sides: bottom;
  }
  position: relative;
  &:before {
    content: ' ';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: $left-gap;
    top: 0;
    z-index: 2;
    pointer-events: none;
    box-sizing: border-box;
    @each $side in $sides {
      border-#{$side}: 1px solid $color;
    }
  }
  @media (-webkit-device-pixel-ratio: 2) {
    &:before {
      width: 200%;
      height: 200%;
      transform-origin: 0 0;
      transform: scale(0.5);
    }
  }
  @media (-webkit-device-pixel-ratio: 1.5) {
    &:before {
      width: 150%;
      height: 150%;
      transform-origin: 0 0;
      transform: scale(0.6666);
    }
  }
  @media (-webkit-device-pixel-ratio: 3) {
    &:before {
      width: 300%;
      height: 300%;
      transform-origin: 0 0;
      transform: scale(0.3333);
    }
  }
}

@mixin overlay ($zIndex: $z-index-modal) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(#000, 0.3);
  opacity: 0;
  z-index: $z-index-modal - 1;
  transition: all 0.15s ease-in;
}

@mixin page-view ($animation: sp-anim-popup) {
  $self: &;
  background: $color-bg-gray;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $z-index-modal + 1;
  visibility: hidden;
  &__overlay {
    @include overlay();
  }
  &__active {
    animation: $animation .2s ease-in-out;
    visibility: visible;
    #{$self}__overlay {
      opacity: 1;
    }
  }
}

@mixin page-scroll ($padding-top: 0px, $padding-bottom: 0, $z-index: 1) {
  position: absolute;
  left: 0;
  width: 100%;
  top: VH($padding-top);
  bottom: $padding-bottom;
  //overflow-y: auto;
  //overflow-x: hidden;
  transform: translate3d(0,0,0);
  z-index: 1;
  > div, > view {
    transform: translate3d(0,0,0);
  }
}

@mixin iconfont-gradient ($background) {
  &:before {
    background: $background;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
