$color-brand-primary:#ff593d;
$edge-margin: 16px;
$edge-size: 15px * 2;
$deep-color-brand-primary:#e51c23;
$md-grey                : #9e9e9e;
$md-grey-50             : #fafafa;
$md-grey-100            : #f5f5f5;
$md-grey-200            : #eeeeee;
$md-grey-300            : #e0e0e0;
$md-grey-400            : #bdbdbd;
$md-grey-500            : #9e9e9e;
$md-grey-600            : #757575;
$md-grey-700            : #616161;
$md-grey-800            : #424242;
$md-grey-900            : #212121;
$content-edge:15px;

scroll-view, view, text {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  overflow: normal;
}
.md-grey-300{
  color:$md-grey-300
}
.md-grey-400 {
  color:$md-grey-400
}
.md-grey-500 {
  color:$md-grey-500
}
.md-grey-600 {
  color:$md-grey-600
}
.md-grey-700 {
  color:$md-grey-700
}
.view-flex {
  display: flex;
}
.view-flex-center {
  justify-content: center;
}
.view-flex-right {
  justify-content: flex-end;
}
.view-flex-justify {
  justify-content: space-between;
}
.view-flex-middle {
  align-items: center;
}
.view-flex-bottom {
  align-items: flex-end;
}
.view-flex-stretch {
  align-items: stretch;
}
.view-flex-horizotal {
  flex-direction: row;
}
.view-flex-vertical {
  flex-direction: column;
}
.view-flex-item {
  flex: 1;
}
.view-flex-item2 {
  flex: 2;
}
.view-flex-item3 {
  flex: 3;
}
.view-flex-item4 {
  flex: 4;
}
.view-active {
  background: #efefef;
}

.section {
  position: relative;
  background: #fff;
  margin-bottom: $edge-margin;
}
.section.section-card {
  margin-left: $edge-size;
  margin-right: $edge-size;
  margin-bottom: $edge-margin;
  border-radius: $content-edge;
  overflow: hidden;
  box-shadow: 0 5px 5px rgba(0,0,0,.1);
}
.section-title {
  padding: 25px;
  font-size: 30px;
  color: #333;
}
.primary-border-left{
  border-left:3px solid $color-brand-primary;
}
.section-title.with-border {
  border-bottom: 1px solid #efefef;
}
.section-title.no-foot-padded {
  padding-bottom: 0;
}
.section-body {
  padding: 25px;
  font-size: 28px;
  color: #666;
}
.section-footer {
  padding: $edge-margin;
}
.section-footer.with-border {
  border-top: 1px solid #efefef;
}
.section-more {
  font-size: 24px;
  color: #999;
}
.section-more .forward-icon {
  font-size: 24px;
  color: #ccc;
}
.desc-up-down-padded {
  padding:$content-edge 0;
}
.content-padded {
  padding: $edge-margin;
}
.content-h-padded {
  padding: 0 $edge-margin;
}
.content-40-padded-left{
  padding-left:40px;
}
.content-15-padded {
  padding: 0 15px;
}
.content-v-padded {
  padding: $edge-margin 0;
}
.content-padded-b {
  padding: 40px;
}
.content-bottom-padded {
  padding-bottom: 8px;
}
.content-bottom-padded-b {
  padding-bottom: 16px;
}
.content-padded-right {
  padding-right: $edge-margin;
}
.content-margin-top {
  margin-top: $edge-margin;
}
.content-padded-right-reset {
  padding-right: 0px;
}
.content-padded-right-s {
  padding-right: $content-edge;
}
.content-center {
  text-align: center;
}
.content-right {
  text-align: right;
}
.text-link {
  color: #6d93ce;
}
.cur {
  font-size: 24px;
}
.list {
  .list-item {
    display: flex;
    align-items: center;
    position: relative;
    padding: 25px;
    &.no-flex {
      display: block;
    }
    &::after {
      position: absolute;
      left: 30px;
      right: 0;
      bottom: -1px;
      height: 1px;
      background: #f8f8f8;
      content: " ";
    }
    &:last-child::after {
      height: 0;
    }
    &.icon-align-top {
      align-items: top;
    }
    .item-icon {
      font-size: 45px;
      color: #999;
		}

    .list-item-txt {
      flex: 1;
      padding: 0 $edge-margin 0 0;
      font-size: 28px;
      color: #333;
    }
    .label {
      width: 150px;
      font-size: 28px;
      color: #999;
    }
    .item-icon + .label, .item-icon + .list-item-txt {
      padding: 0 $edge-margin;
    }
    .list-txt {
      padding: 0 $edge-margin;
      font-size: 28px;
      color: #333;
    }
    .item-icon-go {
      font-size: 32px;
      color: #ccc;
    }
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
}
.grid-item {
  padding: 1px;
}
.grid.two-in-row .grid-item {
  width: 50%;
}
.grid.three-in-row .grid-item {
  width: 33.33333%;
}
.grid.four-in-row .grid-item {
  width: 25%;
}
.grid.five-in-row .grid-item {
  width: 20%;
}
.grid-item .view-img-wrap {
  position: relative;
  width: 100%;
  background: #fff;
}
.grid-item .view-img-wrap::after {
  display: block;
  padding-top: 100%;
  content: " ";
}
.grid-item .view-img-wrap .view-cover {
  position: absolute;
  width: 100%;
  height: 100%;
}
.grid-item .view-img-wrap .view-img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.tabs {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 100px;
  white-space: nowrap;
  overflow: hidden;
  z-index: 99;
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.tabs .tabs-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  font-size: 28px;
  color: #999;
  transition: all 0.2s ease;
}
.tabs .tabs-item.active {
  color: #ff5000;
  font-weight: 500;
  font-size: 32px;
}
.tabs .tabbar {
  position: absolute;
  left: 0;
  bottom: $content-edge;
  height: 8px;
  transition: all 0.2s ease;
  &::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 8px;
    border-radius: 24px;
    background: #ff5000;
    z-index: 5;
    content: "";
  }
}
.tab-content {
  padding-top: 110px !important;
}

.input {
  border: 1px solid #efefef;
  padding: $content-edge 15px;
  background: #f8f8f8;
  border-radius: $content-edge;
  font-size: 28px;
}
.input.input-lg {
  padding: $content-edge $edge-margin;
  height: 80px;
  font-size: 40px;
}
.mark {
  color: #ff5000 !important;
}
.primary-color{
  color:$color-brand-primary
}
.deep-primary-color{
  color:$deep-color-brand-primary
}
.muted {
  color: #ccc !important;
}
.text-muted {
  font-size: 28px;
  color: #999;
}
.text-overline {
  color: #ccc;
  font-size: 24px;
  text-decoration: line-through;
}
.bg-transparent {
  background: transparent;
}
.has-footer {
  padding-bottom: 100px;
}

.has-action-bar {
  padding-bottom: 110px;
}
.action-bar {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 110px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.action-bar-submit {
  flex: 1;
  text-align: center;
  line-height: 110px;
  color: #fff;
  font-weight: 500;
  background: #fc7900;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 99999;
}
.modal-mask {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99998;
  background: rgba(0,0,0,0.7);
}
.modal-close {
  width: 80px;
  height: 80px;
}
.modal-content {
  width: 80vw;
  padding: 50px;
  background: #fff;
  border-radius: 16px;
  margin-bottom: 50px;
}
.modal-content.no-padded {
  padding: 0;
}
.form-control {
  font-size: 28px;
  color: #666;
}
.form-item {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 100px;
  padding: $edge-margin;
}
.form-item::after {
  position: absolute;
  left: 30px;
  right: 0;
  bottom: 0;
  height: 1px;
  background: #efefef;
  content: "";
}
.form-item .input {
  flex: 1;
}
.form-label {
  width: 150px;
}
.btn-default {
  font-size: 32px;
  background: #fff;
  color: #666;
}
.btn-submit {
  font-size: 32px;
  background: #ff4856;
  color: #fff;
}
.page-tip {
  padding: $edge-margin 0 30px 0;
  font-size: 28px;
  color: #999;
}
.support-info {
  padding-top: $content-edge;
  font-size: 24px;
}
.no-data {
  height: 100vh;
  text-align: center;
}
.no-data .title {
  font-size: 28px;
  color: #ccc;
}
.no-data .no-data-icon {
  display: block;
  font-size: 100px;
  margin: 0 auto $content-edge;
  color: #ccc;
}
.no-data .no-data-btn {
  color: #fff;
  background-color: #fc7900;
  border-radius: 25px;
  font-size: 28px;
  width: 300px;
  margin-top: 30px;
}

checkbox .wx-checkbox-input{
   border-radius: 50%;
   width: 40px;
   height: 40px;
}
/* 选中后的 背景样式 （红色背景 无边框 可根据UI需求自己修改） */
checkbox .wx-checkbox-input.wx-checkbox-input-checked{
   border: none;
   background: red;
}
/* 选中后的 对勾样式 （白色对勾 可根据UI需求自己修改） */
checkbox .wx-checkbox-input.wx-checkbox-input-checked::before{
   border-radius: 50%;/* 圆角 */
   width: 40px;/* 选中后对勾大小，不要超过背景的尺寸 */
   height: 40px;/* 选中后对勾大小，不要超过背景的尺寸 */
   line-height: 40px;
   text-align: center;
   font-size:30px; /* 对勾大小 30px */
   color:#fff; /* 对勾颜色 白色 */
   background: transparent;
   transform:translate(-50%, -50%) scale(1);
   -webkit-transform:translate(-50%, -50%) scale(1);
}
.w220{
  width:400px;
}
.line-bottom{
  border-bottom: 1px solid #efefef;
}
.line-top{
  border-top: 1px solid #efefef;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
