@import './imports';

.at-modal {
  &__overlay {
    background-color: rgba(#000, 0.8);
  }
  &__container {
    width: 86%;
  }
  &__header {
    &:after {
      border: none !important;
    }
  }
}

.at-form {
  padding-left: 0;
  background-color: transparent;
  &:after {
    border: none !important;
  }
}

.at-input {
  padding: 16px 0;
  margin: 0 0 $edge-size;
  &__title {
    font-size: $font-size;
  }
  &:after {
    border-color: rgba($color-brand-primary, 0.5);
  }
  input {
    font-size: $font-size;
  }
}

.at-button {
  margin: 0;
  &--primary {
    font-size: $font-size;
    background: $color-brand-primary;
  }
}

.at-nav-bar {
  &__title {
    font-size: $font-size-large;
  }
  &__item--active {
    color: $color-brand-primary;
  }
}

.at-tab-bar {
  padding: 0;
  align-items: center;
  &__item {
    padding: 0 12px;
    line-height: 1;
  }
}

.at-search-bar__action {
  background-color: $color-search-cancel-bg;
  color: $color-primary-text;
}
.at-search-bar::after {
  border: 0;
}

.taro__toast {
  font-size: $font-size !important;
  p {
    font-size: $font-size !important;
  }
}


/*mod innisfree*/
.at-tab-bar {
  box-shadow: -20px 5px 15px rgba(#000, .1);
  height: $tabbar-height;
  [class^="icon-"] {
    font-size: $at-tab-bar-icon-font-size;
  }
  &__title {
    margin-top: -4px;
  }
}

.at-tabs {
  height: $tabs-height;
  box-shadow: 0 10px 10px rgba(#000, 0.05);
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: $navigate-height;
  width: 100%;
  z-index: $z-index-toolbar;
  &__header {
  }
  .at-tabs__body {
    height: 0;
  }
  .at-tabs__item {
    height: $tabs-height;
    line-height: $tabs-height;
    padding: 0;
  }
  .at-tabs__item-underline {
    height: 2PX;
    width: 20%;
    left: 40%;
  }
}

.search-input__bar.at-search-bar {
  padding: 0 35px 0 30px !important;
  height: 65px;
  .at-search-bar__input-cnt {
    border-radius: 0;
    height: 65px;
    line-height: 65px;
    background-color: #eff0f0;
  }
  .at-search-bar__placeholder-wrap {
    justify-content: flex-start;
    padding-left: 23px;
  }
  .at-search-bar__placeholder-wrap .at-icon {
    font-size: 17PX;
  }
}

.home-search__bar.at-search-bar {
  position: relative;
  padding: 20px 0 20px 20px !important;
  height: 54px;
  z-index: 99;
  background: transparent !important;
  .at-search-bar__input-cnt {
    height: 54px;
    line-height: 54px;
  }
  .at-search-bar__placeholder-wrap {
    justify-content: flex-start;
    align-items: center;
    padding-left: 23px;
    height: 54px;
  }
  .at-search-bar__placeholder-wrap .at-icon {
    font-size: 17PX;
  }
  .at-search-bar__input {
    height: 54px;
    padding: 0 30PX;
  }
}

.at-button {
  &--secondary {
    border: 1PX solid #c1c1c1;
    color: #fff;
    background: #c1c1c1;
  }
  &--small {
    height: 42px;
    line-height: 38px;
    padding: 0 22px;
    font-size: 22px;
    .at-button__text {
      font-size: 22px;
    }
    &.at-button--circle {
      border-radius: 8px;
    }
  }
}

.at-action-sheet {
  &__item {
    font-size: $font-size;
  }
}
