$font-size                 : 14px * 2;
$edge-margin               : 16px;

$color-bg-gray             : #f5f5f5;
$color-gray                : #818181;
$color-price               : #ff5000;
$color-brand-primary       : #d42f29 !default;
$color-brand-accent        : #fba629 !default;
$color-brand-accent-light  : #787878 !default;
$color-brand-primary-text  : #ffffff !default;
$color-brand-accent-text   : #ffffff !default;

$item-border-radius        : 8px;
$cart-border-radius				 : 10px;
$home-header-height        : 90px !default;
$home-search-height        : 110px !default;
$tabs-height               : 75px !default;
$navigate-height           : 160px !default;
$searchbar-height          : 65px !default;
$toolbar-height            : 100px !default;
$tabbar-height             : 0 !default;

$at-tab-bar-color          : #818181 !default;
$at-tab-bar-color-active   : $color-brand-primary !default;
$at-tab-bar-font-size      : 22px !default;
$at-tab-bar-icon-font-size : 42px !default;
$at-button-height          : 80px !default;

$nav-gap-height            : 160px !default;
