@import '../../../style/imports.scss';

.nearly-shop {
  display: flex;
  align-items: center;
  height: $home-header-height;
  padding: 0 20px;
  background: #fff;
  .shop-view {
    width: 1%;
  }
  &.fixed {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 99;
  }
  .shop-name {
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 30px;
  }
  .icon-periscope {
    font-size: 50px;
    color: #666;
    margin-right: 10px;
  }
  .icon-arrowDown {
    margin-left: 10px;
    font-size: 30px;
    color: #ccc;
  }
}
.scancode {
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 20px;
  color: #666;
  line-height: 1;
  .icon-scan {
    font-size: 42px;
    margin-right: 6px;
  }
}
