.wgt__header{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  View:first-child{
    font-size: 35px;
    font-weight: bold;
  }
}
.timer-controller{
  position: relative;
}
.timer-scroll{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  height: 90px;
  border-bottom: solid 1px #e8e8e8;
  border-top: solid 1px #e8e8e8;
    .gap{
      width: 187.5px;
      height: 90px;
      flex:none;
      line-height:90px;
      text-align: center;
    }
}
.timer-show{
  height: 60px;
  text-align: center;
}
.timer-content{
  width:187.5px;
  height: 90px;
  line-height: 90px;
  flex:none;
  text-align: center;
}
.triangle{
  width: 0;
  height: 0;
  border-left: solid 8px white;
  border-top: solid 8px #c0534e;
  border-right: solid 8px white;
  border-bottom: solid 8px white;
}
.triangle-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.triangle-container-none{
  display: flex;
  flex-direction: row;
  justify-content: center;
  visibility: hidden;
}
.limit-goods-detail-main{
  margin-top: 20px;
  padding: 0 25px;
  text-align: center;
  .detail-img{
    Image{
      width: 700px;
      height: 490px;
    }
   text-align: left;
  }
  .goods-dec{
    &-title{
      font-size: 29px;
      font-weight: bold;
    }
    &-dec{
      font-size: 23px;
      color:#686868
    }
    .goods-tag{
      margin-top:10px;
      :first-child{
        margin-left: 10px;
      }
      .goods-tag-item{
        font-size: 22px;
        color:white;
        background-color: #c76a65;
        display: inline-block;
        padding: 5px 8px;
        margin-right: 15px;
        border-radius: 8px;
      }
    }
  }
  .goods-sell-dec{
    &-num-contain{
      text-align: right;
      height:40px;
      line-height: 40px;
      &:first-child{
        font-size: 19px;
        color:#c0534e;
        margin-right: 30px;
      }
    }
    &-price-contain{
      color: #c1534e;
      padding:5px 0;
      font-size: 30px;
      display: flex;
      align-items: flex-end;
      .cur{
        font-size: 25px;
        margin-right: 4px;
      }
      .price{
        font-size: 19px;
        line-height: 1;
        margin-right: 15px;
      }
      .price-inner{
        line-height: 1;
        font-size: 34px;
      }
      .market-price {
        color:#c1c1c1;
        font-size: 24px;
       line-height: 1;
        margin-left: 5px;
        margin-right: 8px;
        text-decoration: line-through;
      }
      .speed-buy{
        font-size: 24px;
        color:white;
        background-color: #c76a65;
        padding:0 10px;
        margin-right: 15px;
        border-radius: 10px;
        margin-left: auto;
      }
    }
  }
}
.limit-goods-detail-other{
  margin-top: 20px;
  padding: 0 25px;
  text-align: center;
  .detail-img{
    display: flex;
    flex-direction: row;
    Image{
      width: 300px;
      height: 240px;
    }
    text-align: left;
    .other-img{
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-left: 30px;
      .goods-dec{
        &-title{
          font-size: 29px;
          font-weight: bold;
        }
        &-dec{
          font-size: 23px;
          color:#686868
        }
        .goods-tag{
          margin-top:20px;
          :first-child{
            margin-left: 10px;
          }
          .goods-tag-item{
            font-size: 22px;
            color:white;
            background-color: #c76a65;
            display: inline-block;
            padding: 5px 8px;
            margin-right: 15px;
            border-radius: 8px;
          }
        }
      }
    }
  }
  .goods-sell-dec{
    &-num-contain{
     text-align: right;
      margin-right: 20px;
      font-size: 19px;
      color: #c0534e;
      height: 35px;
      line-height: 35px;
    }
    &-price-contain{
      color: #c1534e;
      padding:5px 0;
      font-size: 30px;
      display: flex;
      align-items: flex-end;
      .cur{
        font-size: 25px;
        margin-right: 4px;
      }
      .price{
        font-size: 18px;
        line-height: 1;
        vertical-align: middle;
        margin-right: 5px;
      }
      .price-inner{
        line-height: 1;
        font-size: 30px;
      }
      .market-price {
        color:#c1c1c1;
        font-size: 20px;
        line-height: 1;
        margin-left: 5px;
        margin-right: 8px;
        text-decoration: line-through;
      }
      .speed-buy{
        font-size: 18px;
        color:white;
        background-color: #c76a65;
        margin-right: 15px;
        border-radius: 8px;
        padding: 0 8px;
        margin-left: auto;
      }
    }

  }
}
.more-toolbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  &-container{
    background-color: #393938;
    border-radius: 28px;
    height: 56px;
    line-height: 56px;
    padding: 0 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .dec{
      font-size: 22px;
      color: white;
      vertical-align: middle;
    }
  }
  .icon-arrow-down,.icon-arrow-up{
    font-size: 22px;
    color:white;
    vertical-align: middle;
    position: relative;
    top:-5px
  }
}



