@import "../../style/imports";

.page-recommend-detail {
  background: #fff;
  height: 100vh;
}

.wgt {
  &__padded {
    padding: 40px 0;
  }
  &__header {
    display: flex;
    align-items: center;
    padding: 0 20px 10px 20px;
  }

  &__title {
    display: flex;
    align-items: flex-end;
    flex: 1;
    font-size: 32px;
  }

  &__subtitle {
    padding-left: 10px;
    font-size: 24px;
    color: #999;
  }
}
.recommend-detail {
  padding-bottom: 100px;

  &__title {
    display: block;
    padding: 0 floor($edge-size);
    font-size: floor($font-size * 1.6);
  }
  &-info {
    padding: 0 floor($edge-size);
    &__time {
      display: inline-block;
      margin-right: 20px;
      font-size: floor($font-size * 0.8);
      vertical-align: middle;
      [class^="icon-"] {
        color: $color-gray;
        padding-right: 4px;
      }
      .in-icon-xingzhuang {
        font-size: 22px;
      }
    }
  }
  &__content {
    margin-top: 20px;
    padding-bottom: 100px;
    .wgts-wrap__cont {
      background: #ffffff;
    }
  }
  &__bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    background: #ffffff;
    z-index: $z-index-level-1;
    align-content: space-between;
    padding: 15px 0;
    color: $color-gray-light;
    font-size: $font-size ;
    box-shadow: 0 -2px 10px rgba(120, 120, 120, 0.4);
    left: 0;
    &-item {
      flex: 1;
      text-align: center;
      height: 50px;
      line-height: 50px;
      [class^="icon-"] {
        display: inline;
        margin-right: 5px;
        font-size: 42px;
        vertical-align: middle;
      }
    }
    button {
      padding: 0;
      margin: 0;
      height: 50px;
      line-height: 50px;
      color: $color-gray;
      font-size: $font-size ;
      background: transparent;
      border: 0;
    }
    .button-hover {
      color: $color-gray-light;
    }
    button:after {
      border: 0;
    }
    .check-true {
      color: $color-brand-primary;
    }
  }
}
