@import "../../style/imports";

.page-recommend-list {
  .recommend-list {
    &__toolbar {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: $z-index-toolbar;
      background: #fff;
      box-shadow: $box-shadow;

      .at-search-bar {
        padding-right: 30px !important;
      }
      .search-input {
        &__focus{
          .at-search-bar {
            padding-right: 30px !important;
          }
        }
      }
      .at-search-bar__input {
        height: $searchbar-height !important;
      }
      .at-search-bar__input-cnt {
        flex: none;
        border-radius: $searchbar-height;
      }
      .at-search-bar__clear {
        height: $searchbar-height;
      }
      .at-search-bar__action {
        display: none;
      }
      .filter-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100px;
        font-size: 20px;
        .icon-list {
          font-size: 55px;
          line-height: 0.8;
        }
      }
    }
    &__tabs {
      display: flex;
      .filter-bar__item {
        flex: 1;
        justify-content: center;
        text-align: center;
        color: #666666;
        font-size: 26px;
        [class^=icon] {
          color: #ccc;
          display: inline-block;
				}
				&.region-picker{
					display: flex;
					line-height: 75rpx;
				}
				.icon-close{
					line-height: 75px;
				}
      }
      .filter-bar__item-active {
        color: $color-brand-primary;
      }
    }
    &__scroll {
      @include page-scroll($tabs-height + $searchbar-height + $navigate-height, $tabbar-height + floor($edge-margin / 2));
    }
    &__type-grid {
      display: flex;
      flex-wrap: wrap;
      .recommend-list__item {
        width: 50%;
        padding: 10px;
      }
    }
  }
  &__search {
    position: relative;
    &.on-search {
      .at-search-bar {
        padding-right: 0 !important;
      }
    }
  }
  .drawer-item {
    padding: 10px 22px 10px 12px;
    margin-bottom: 30px;
    &__title {
      display: flex;
      justify-content: space-between;
      font-size: 24px;
      color: #555555;
      margin-bottom: 25px;
    }
    &__options {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      &__item {
        width: 172px;
        height: 250px;
        line-height: 88px;
        text-align: center;
        color: #555555;
        background-color: #f6f6f6;
        margin-bottom: 12px;
        font-size: 26px;
      }
      &__checked {
        background-color: $color-brand-primary;
        color: #ffffff;
      }
      &__none {
        width: 172px;
        height: 0;
      }
    }
  }
  .drawer-footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    &__btn {
      width: 50%;
      display: inline-block;
      height: 87px;
      line-height: 87px;
      text-align: center;
      background-color: #fafafa;
      &_active {
        background: $color-brand-primary;
        color: #ffffff;
      }
    }
  }
	.region-picker{
		display: flex;
		justify-content: center;
		line-height: 75rpx;
		.icon-close{
			line-height: 75px;
		}
	}
}
