@import "../../style/imports";

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
  &__large {
    &-img {
      width: 120px;
      height: 120px;
      opacity: 0.5;
    }
  }
  &-img {
    width: 70px;
    height: 70px;
    display: block;
  }
  &-text {
    margin-left: 10px;
    font-size: $font-size-small;
    color: $color-gray;
  }

  .spiner {
    font-size: 10px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: none;
    background: linear-gradient(to right, #ccc 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    animation: spin-loader 0.7s infinite linear;
    transform: translateZ(0);
    &:before {
      width: 50%;
      height: 50%;
      background: #ccc;
      border-radius: 100% 0 0 0;
      position: absolute;
      top: 0;
      left: 0;
      content: '';
    }
    &:after {
      background: $color-bg-gray;
      width: 75%;
      height: 75%;
      border-radius: 50%;
      content: '';
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
}

@keyframes spin-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}