@import "../../../../style/imports";

.activity-item{
  width: 320px;
  margin-top: 40px;
  flex:none;
  position: relative;
  .goods-name{
   position: absolute;
    top:-4px;
    left:50%;
    transform: translate(-50%,0);
    width:240px ;
    z-index:100
  }
  .goods-name-text{
    display: inline-block;
    max-width: 210px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    top: 0;
    font-size: 23px;
    color:white;
    left: 50%;
    transform: translate(-50%,0);
    z-index:500;
  }
  .goods-img{
    width: 100%;
    height: 320px;
    overflow: hidden;
    .img{
      width: 100%;
      height: 100%;
    }
  }
  .empty{
    .img{
      width:65%;
      position: absolute;
      left:50%;
      top:50%;
      transform: translate(-50%,-50%);
    }
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 320px;
    .opacity-bg{
      position: absolute;
      width: 100%;
      height: 100%;
      top:0;
      left:0;
      background: rgba(0,0,0,0.3);
    }
  }
  .help-btn{
    margin-top: 24px;
    text-align: center;
    position: relative;
    .img{
      width: 230px;
      display: block;
      margin:0 auto;
    }
    .price{
      position: absolute;
      left:50%;
      top:50%;
      transform: translate(-50%,-50%);
      color:white;
      font-size: 28px;
    }
  }
}
