@import "../../../../style/imports";

.user-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  &-count{
    margin-left: auto;
  }
  &-avatar{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    Image{
      width: 100%;
      height: 100%;
    }
  }
}
