@import "../../style/imports";

.form-id-collector {
  overflow: hidden;
  &__btn {
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: $font-size;
    text-align: left;
    line-height: auto;
    overflow: visible;
    background: none !important;
    border-radius: 0;
    &:before, &:after {
      border: none;
    }
  }
}