@import '../../../style/imports';

.store-item {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 20px 0px;
  border-bottom: 2px solid #f8f8f8;
  .store-content {
    padding-right: 20px;
    flex: 1;
    .store-name {
      font-size: 32px;
    }
    .store-address {
      font-size: $font-size-small;
      color: $color-gray;
    }
  }
  .store-location {
    font-size: 46px;
    color: $color-gray;
  }
}
