.list-item-container{
  display: flex;
  flex-direction: row;
}
.list-item-left{
  &-img{
    width: 100%;
    height: 100%;
  }
}
.list-item-right {
  height: 100%;
  width: 370px;
  margin-left: 33px;
  &-cur{
    font-size: 16px;
    color: #c1534e;
  }
  &-price{
    font-size: 35px;
  }
.list-right{
  &-title{
    font-size: 29px;
    font-weight: bold;
    color:#393938
  }
  &-desc{
    font-size: 23px;
    color:#686868
  }
}
 .num-calculate{
   font-size: 17px;
   color:#686868
 }
}
