
@import "../../../style/imports";

.trade-detail {
  position: relative;
  top:VH($nav-gap-height);
  box-sizing: border-box;
  min-height: VH-last($nav-gap-height);
  padding-bottom: 84px;
  &-header {
    width: 100%;
    height: 150px;
    color: #ffffff;
    &__waitpay {
      text-align: center;
      font-size: 26px;
      line-height: 150px;
      .count-down {
        font-size: 36px;
        margin: 0 20px;
      }
    }
    .at-countdown__time {
      color: #fff;
    }
    .at-countdown__time-box {
      font-family: $font-family;
    }
  }
  &-waitdeliver {
    width: 100%;
    padding: 34px 58px 39px 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    .delivery-infos {
      flex: 1;
      margin-left: 23px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    .delivery-infos__text {
      display: block;
      font-size: 22px;
    }
    .text-status {
      font-size: 28px;
      margin-bottom: 10px;
    }

  }
  .ziti-content {
    padding: 50px 0;
    .ziti-qrcode {
      display: block;
      margin: 0 auto 50px;
      width: 200px;
      height: 200px;
    }
    .ziti-text {
      text-align: center;
      font-size: 24px;
      color: #666;
      .ziti-text-name {
        margin-bottom: 15px;
        font-size: 30px;
        font-weight: bold;
        color: #333;
      }
    }
  }
  &-address {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    background: #fff;
    /*.trade-info {
      font-size: 20px;
      line-height: 36px;
      color: #999999;
    }*/
    .trader-info-val {
      //margin-left: 20px;
    }
    .address-receive {
      display: flex;
      justify-content: flex-start;
      color: #555555;
      font-size: 22px;
    }
    .info-trade {
      flex: 1;
    }
    .user-info-trade {
      display: flex;
      justify-content: space-between;
      font-size: 22px;
      line-height: 36px;
    }
    .address-detail {
      font-size: 22px;
      color: #999999;
    }
  }
  &-goods {
    border-top: 14px solid #f6f6f6;
    width: 100%;
    min-height: 100px;
    background: #fff;
  }
  .order-item__pay-type {
    display: none;
  }
  .trade-money {
    box-sizing: border-box;
    width: 100%;
    text-align: right;
    padding: 34px 38px;
    font-size: 26px;
    color: #5b5b5b;
    border-top: 1PX solid #ececec;
    background: #fff;
    &__num {
      font-size: 36px;
      color: $color-brand-primary;
    }
  }
  &-info {
    width: 100%;
    box-sizing: border-box;
    font-size: $font-size-small;
    line-height: 1.5;
    color: #999999;
    border-top: 14px solid #f6f6f6;
    padding: 42px 30px;
    background: #fff;
    .copy{
      margin-left: 15px;
      color:$color-theme
    }
    .info-text {
      display: block;
    }
    .delivery_code_copy {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .info-text {
        flex: 1;
        font-size: 24px;
      }
      .info-text-btn {
        font-size: 24px;
        display: inline-block;
        width: 120px;
        text-align: right;
      }
    }
  }
  &-remark {
    padding-top: 21px;
    &__header {
      padding: 20px 30px;
      font-size: 26px;
      background: #fff;
      border-bottom: 1px solid #efefef;
    }
    &__body {
      padding: 20px 30px;
      font-size: 24px;
      background: #fff;
    }
  }
  &__footer {
    position: fixed;
    left: 0;
    width: 100%;
    height: 84px;
    bottom: 0;
    &__btn {
      width: 50%;
      display: inline-block;
      vertical-align: middle;
      height: 87px;
      line-height: 87px;
      text-align: center;
      background-color: #fafafa;
      font-size: 26px;
      border-radius: 0;
      &-inline {
        width: 100%;
      }
      &:before {
        border: none;
      }
    }
    .at-button__icon {
      vertical-align: middle;
    }
    &_active {
      color: #ffffff;
    }
    &_allWidthBtn {
      width: 100%;
    }
  }
}
/*.trade-detail {
  padding-bottom: $toolbar-height + $edge-margin;
  &__status {
    background: linear-gradient(227deg,rgba(250,167,97,1) 0%,rgba(250,53,21,1) 100%);
    position: relative;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    &-text {
      color: #fff;
      font-size: $font-size-large;
    }
    &-ico {
      width: 130px;
      height: 110px;
      margin-right: -6px;
    }
  }

  &__addr {
    background: #fff;
    margin: 0 0 $edge-margin;
  }

  &__express {
    padding: $edge-margin $edge-size $edge-margin ($edge-size + 40px);
  }

  &__total {
    padding: 0 0 $edge-size;
    .sp-cell {
      padding: 8px $edge-size;
      display: flex;
      align-items: space-between;
      &__bd {
        text-align: right;
      }
    }
  }

  .address-info {
    margin: 0 0 $edge-margin;
    &__receiver {
      color: #111;
      display: block;
      font-size: $font-size-large;
      margin: 0 0 16px;
      line-height: 1;
    }
    &__addr {
      color: #111;
      line-height: 1;
      display: block;
    }
  }

  .sec-orders {
    &__hd {
      padding: $edge-margin $edge-size;
    }
  }

  .trade-extra {
    display: flex;
    align-items: space-between;
    padding: $edge-margin $edge-size;
    &__bd {
      flex: 1;
      display: flex;
      flex-direction: column;
      font-size: $font-size-small;
    }
    &__ft {
      .at-button {
        transform: scale(0.9);
        transform-origin: center right;
      }
    }
  }

  .trade-opts {
    text-align: right;
    .at-button {
      transform: scale(0.9);
      transform-origin: center right;
    }
  }

  .toolbar-actions {
    display: flex;
    justify-content: flex-end;
    .at-button {
      margin: 0 0 0 20px;
    }
  }
}*/

.delivery-btn{
  margin-right: 15px;
}
