@import "../../../style/imports";
@import "list";

.page-invoice-list {
  .trade-list {
    &__scroll {
      @include page-scroll($navigate-height, 0)
    }
  }

  .trade-item {
    &__ft {
      flex: 1;
      display: flex;
      align-items: top;
      justify-content: flex-end;
    }
    &__status {
      font-size: $font-size-small;
      color: #c1c1c1;
      line-height: 40px;
    }
  }
}
