@import "../../../style/imports";

.trade-refund-detail {
  .refund-status {
    background: $color-brand-primary;
    color: #ffffff;
    padding: 30px;
    height: 138px;
    box-sizing: border-box;
    &__text {
      display: block;
      font-size: 26px;
    }
    .text-status {
      margin-bottom: 10px;
    }
  }
  .refund-detail {
    @include clearfix();
    background: #ffffff;
    &__title {
      display: block;
      font-size: 24px;
      color: #666;
      padding: 30px;
      border-bottom: 1PX solid #e6e6e6;
    }
    &__descr {
      display: block;
      font-size: 20px;
      color: #666;
      padding: 20px 30px;
    }
    &__btn {
      float: right;
      margin: 0 30px 30px 0;
      border: 1PX solid $color-brand-primary;
      color: $color-brand-primary;
      padding: 10px 30px;
    }
    &__cancel {
      border: 1PX solid $color-brand-accent-light ;
      color: $color-brand-accent-light ;
    }
  }
  .refund-info {
    background: #ffffff;
    border-top: 1PX solid #ebebeb;
    width: 100%;
    padding: 35px 30px;
    box-sizing: border-box;
    margin-bottom: 20px;
    &__num {
      display: flex;
      justify-content: space-between;
    }
    &__text {
      font-size: 22px;
      line-height: 40px;
      color: #666666;
    }
    .text-primary {
      display: block;
      font-size: 24px;
      text-align: right;
      color: $color-brand-primary;
    }
  }
  .refund-detail-info {
    margin-top: 20px;
    padding: 35px 30px;
    background: #ffffff;
    .info-name {
      margin-bottom: 10px;
      color: #333333;
    }
    .info-value {
      color: #999999;
    }
  }
  .refund-detail-btn {
    height: 84px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 26px;
    line-height: 84px;
    text-align: center;
    color: #ffffff;
    background: $color-brand-primary;
  }
  //.refund-status {
  //  display: flex;
  //  flex-direction: column;
  //  align-items: center;
  //  justify-content: space-around;
  //  margin: 0 0 $edge-margin;
  //  padding: $edge-margin 0 0;
  //  height: 210px;
  //}
  //.trade-bn {
  //}
  //
  //.sp-cell {
  //  align-items: space-between;
  //  &__bd {
  //    text-align: right;
  //  }
  //}
}
