@import "../../../style/imports";

.page-distribution-shop {
  background: $color-bg-gray;
  .trade-list {
    padding: 24px $edge-margin;
    &__scroll {
      @include page-scroll(0, 0);
    }
    &__item {
      &-code {
        font-size: 24px;
        color: #666;
      }
      &-date {
        font-size: 24px;
        color: #666;
      }
      &-title {
        margin-bottom: 5px;
        font-size: 28px;
        color: #333;
      }
      &-price {
        color: $color-price;
        .cur {
          font-size: 20px;
        }
      }
      &-count {
        padding-top: 5px;
        padding-left: 20px;
        font-size: 22px;
      }
    }
  }
}
