@import '../../../style/imports';

.page-distribution-subordinate {
  .subordinate-list__scroll {
    @include page-scroll($tabs-height + $navigate-height, 0);
    height: calc(100vh - #{$tabs-height + $navigate-height});
  }
  .list {
    min-height: calc(100vh - #{$tabs-height + $navigate-height});
  }
  .avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #eee;
    margin-right: 20px;
    border: 4px solid #ccc;
  }
  .name {
    font-size: 32px;
  }
  .level-name {
    font-size: 28px;
    color: #999;
  }
  .mobile {
    font-size: 28px;
    color: #999;
  }
  .bind-date {
    color: #999;
    text-align: right;
  }
  .child {
    .avatar {
      border-color: #2372c7;
    }
  }
  .Gchild {
    .avatar {
      border-color: #6dc8e1;
    }
  }
  .GGchild {
    .avatar {
      border-color: #d8eef5;
    }
  }
}
