.page-distribution-acount {
  .message-input, .view-flex-item {
    font-size: 28px;
  }
  .message-input {
    margin: 0 20px;
  }
  .verify-code-wrap {
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 0;
  }
  .verify-code {
    width: 200px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    background: #ffc304;
    color: #fff;
    flex: none;
  }
  .verify-code_off {
    background: #999999;
  }
  .g-ul {
    padding: 0 30px;
    font-size: 28px;
    color: #999;
    line-height: 48px;
    .g-ul-li {
      display: -webkit-box;
      -webkit-box-align: center;
      &:before {
        content: '';
        display: block;
        background: #999;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        margin-right: 12px;
      }
    }
  }
}
