.page-distribution-withdraw {
  .withdraw {
    .at-input {
      padding-left: 20px;
      padding-right: 20px;
      margin: 0;
      background: #f8f8f8;
      &:after {
        border: 0;
      }
    }
    .withdraw-title {
      height: 80px;
      display: -webkit-box;
      -webkit-box-align: center;
      padding: 0 30px;
      border-bottom: 1px solid #ddd;
      margin-bottom: 110px;
      color: #333333;
    }
    .withdraw-body {
      display: -webkit-box;
      -webkit-box-align: center;
      -webkit-box-pack: justify;
      padding: 0 30px 20px;
    }
    .withdraw-body-input {
      -webkit-box-flex: 1;
      font-size: 32px;
    }
    .withdraw-body-btn {
      margin-left: 20px;
    }
  }
  .g-button._off {
    background: #ddd;
  }
  .g-list-wrap.with-border {
    position: relative;
  }
  .g-list-wrap.with-border::after {
    position: absolute;
    left: 30px;
    right: 0;
    bottom: -1px;
    height: 1px;
    background: #f8f8f8;
    content: " ";
  }
}
.pay-type-picker {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}
.g-ul {
  padding: 0 30px;
  font-size: 28px;
  color: #999;
  line-height: 48px;
  .g-ul-li {
    display: -webkit-box;
    -webkit-box-align: center;
    &:before {
      content: '';
      display: block;
      background: #999;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin-right: 12px;
    }
  }
}
