@import "../../style/imports";

.page-cashier-index {
  .cashier-money {
    border-top: 1px solid $color-border-gray-dark;
    background: $color-brand-primary-text;
    padding: 50px $edge-size ;
    &__tip {
      font-size: $font-size-large;
      color: $color-primary-text;
      margin: 0 0 $edge-margin;
    }
    &__content {
      background: #fff;
      &-title {
        color: #000;
        font-size: $font-size;
      }
      &-number {
        color: $color-brand-primary;
        font-size: 96px;
      }
    }
  }
  .pay-status {
    //background: $color-brand-primary-text;
    margin-top: 20px;
    padding: $edge-size ;
  }
  .pay-mode {
    background: $color-brand-primary;
    color: $color-brand-primary-text;
    border-radius: 6px;
    text-align: center;
    padding:0 32px;
    height:80px;
    line-height: 80px;
    margin-bottom: 20px;
  }
  .at-modal__content {
    text-align: center;
    display:flex;
    align-items:center;
  }
}

